@import "variables";
@import "mixins";




/********************************* Helpers *************************************************/

.border-bottom-radius{
  @include border-bottom-radius(4px);
}

.border-top-radius{
  @include border-top-radius(4px);
}

.border-right-radius{
  @include border-right-radius(4px);
}

.border-left-radius{
  @include border-left-radius(4px)
};

.border-radius{
  @include border-bottom-radius(4px);
  @include border-top-radius(4px);
}

/************************* Colors (Normally backgrounds)************************************/
.mb-gradient-bg{
  background: $mb-gradient-color;
}

.mb-primary{
  background-color: $mb-primary;
}

.mb-white{
  background-color: $white;
}

.mb-color-primary{
  color: $mb-primary;
}

.mb-color-white{
  colore: $white;
}

/************************ Boxes (kinda containers)*******************/

.mb-container{
  overflow: hidden !important;
  max-width: 1440px !important;
  max-height: 800px !important;
  padding: 0 105px;
}

.mb-white-box{
  @include border-top-radius(5px);
  background-color: $white;
  box-shadow: 0 -6px 20px rgba(0,0,0,0.19);
  padding: 80px 0 0;
  width: 100%;
  margin: 0 auto;
  min-height: 600px;
}

.mb-row-title{
  /*max-width: 1440px;
  max-height: 220px;*/
  margin: 0 0 3rem;
}

.mb-row-title > div{
  margin-top: 60px;
}

.mb-row-title > div > h1{
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
}

.mb-row-title > div > p{
  opacity: 0.64;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.oval-copy{
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: $mb-info;
  margin: 0 auto;
  margin-bottom: 43px;
  white-space: nowrap;
}


.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.oval-copy img{
  vertical-align: middle;
  max-height: 140px;
  max-width: 140px;
}

.mb-progress{
  width: 100%;
  height: 16px;
  border-radius: 190px;
  background-color: $mb-progress;
  margin-top: 2rem;
}

.mb-progress-bar{
  width: 0%;
  height: 16px;
  background-color: $mb-info;
  border-radius: 190px;
}

/***************************Text Color******************************/
.text-color-white{
  color: $white;
}
/**********************Buttons**************************************/
.mb-btn-rounded-primary{
  border-radius: 190px !important;
  width: 100%;
  background-color: $mb-primary;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 17px 0 !important;
  margin-top: 35px;
}

.cursor-pointer{
  cursor: pointer;
}

/**************************Form controls**************************+*/
.mb-input{
  border: 2px solid #DFE6E4 !important;
  border-radius: 4px !important;
  padding: 18px 0 18px 12px !important;
  font-size:16px;
  color: #9BA4A1;
}

/*.mb-input-password{
  padding: 0; !important;
  font-size: 32px !important;
}*/

.mb-select{
  border: 2px solid #DFE6E4 !important;
  border-radius: 4px !important;
  height: 60px !important;
}

.mb-input-invalid{
  border: 2px solid $mb-danger !important;
}








// TODO: Must purge
/**/

/* Bootstrap Classes */
.form-group{
  padding: 0 15px;
}

@media only screen and (max-width: 840px) {
  .hide-column{
    display: none;
  }
}

/*Animations*/
.spinner {
  margin: 40px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}


.sk-circle {
  margin: 40px auto;
  width: 60px;
  height: 60px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}
