.mb-btn-rounded-primary{
  width: 50%;
}

.mb-group-list{
  width: 50%;
  display: inline-block;
}

.mb-list-item{
  box-shadow: inset 0 -2px 0 0 #D8D8D8;
}

.mb-list-item > p{
  padding: 1.2rem 0;
  margin: 0;
}

@media only screen and (max-width: 740px){
  .row > div{
    margin-bottom: 2rem;
    text-align: center !important;
  }

  .row > div:first-child{
    padding: 0 0 2rem;
    box-shadow: inset 0 -2px 0 0 #F3F3F3;
  }
}

@media only screen and (max-width: 720px){
  .mb-btn-rounded-primary{
    width: 50%;
  }

  .mb-group-list{
    width: 75%;
  }

}

@media only screen and (max-width: 380px){

  .mb-white-box{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mb-btn-rounded-primary{
    width: 100%;
  }

  .mb-group-list{
    width: 100%;
  }
}
