<div class="mb-white-box">
  <div class="row">

    <div class="col-sm-12 col-md-6 text-center">
      <h4>Current Plan</h4>
      <p>$25/month</p>
      <button class="btn mb-btn-rounded-primary">Upgrade</button>

    </div>

    <div class="col-sm-12 col-md-6 text-left justify-content-start">
      <h4>Plan Details</h4>
      <div class="mb-group-list text-left">

        <div class="mb-list-item">
          <p> Access to all reports</p>
        </div>
        <div class="mb-list-item">
          <p> Access to all reports</p>
        </div>
        <div class="mb-list-item">
          <p> Access to all reports</p>
        </div>
        <div class="mb-list-item">
          <p> Access to all reports</p>
        </div>
        <div class="mb-list-item">
          <p> Access to all reports</p>
        </div>

      </div>
    </div>
  </div>
</div>
