#confirmContainer{
  padding: 0 105px 50px 0;
}

@media only screen and (max-width: 840px) {
  #confirmContainer{
    padding: 0 50px;
  }
}

#confirmProfileAbout{
  position: relative;
  display: block;
  height: 80px;
  color: #88908D;
  margin: 0 auto;
  font-family: 'Roboto', 'sans-serif';
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

#confirmContainer .row{
  padding-bottom: 35px;
  margin-bottom: 20px;
}

#confirmContainer .row:not(:last-of-type){
  box-shadow: inset 0 -2px 0 0 #CCD1D0;
}

#confirmContainer .row .col-12 *{
  display: block;
}

#confirmContainer button{
  width: 100%;
  padding: 16px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.row-header{
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  padding: 8px 0;
}

.edit-button{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 8px 0;
  color: #22AAA1 !important;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.edit-button:hover{
  color: #22AAA1;
  box-shadow: inset 0 -2px 0 0 #22AAA1;
}

.row-content{
  color: #88908D;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 8px 0;
}

.edit-info-input{
  width: 70%;
  border: none;
  border-bottom: 1px solid #88908D;
  outline: none;
  color: #88908D;
  font-size: 16px;
}
