<div class="row justify-content-center mb-white-box" id="registerProfileContainer">
  <div class="col-6 hide-column text-center">
    <div class="oval-copy">
      <span class="helper"></span><img src="../../../../assets/images/auth/Confirmation/Icon/ThumbsUp.svg" alt="">
    </div>

    <div id="confirmProfileAbout">
      Real-time, lightning-fast data analytics are just a click away!
    </div>

  </div>
  <div class="col-sm-12 col-md-6" id="confirmContainer">

    <div class="row">
      <div class="col-12">
        <span class="row-header">Profile Information</span>
        <a class="edit-button">Edit</a>
        <span class="row-content">{{ user?.firstName }}</span>
        <!--<input type="text" class="edit-info-input" name="user.firstName" [(ngModel)]="user.firstName" >-->
        <span class="row-content">{{ user?.email }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span class="row-header">Plan Information</span>
        <a class="edit-button">Edit</a>
        <span class="row-content">{{ plan?.name }}</span>
        <span class="row-content">{{plan?.amount | dolarCurrency}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span class="row-header">Billing Information</span>
        <a class="edit-button">Edit</a>
        <span class="row-content">XXXX-XXXX-XXXX-{{ billing?.card.last4 }}</span>
        <span class="row-content">{{ billing?.card.brand }}</span>
        <span class="row-content">
          Exp. {{ billing?.card.exp_month < 10  ? '0'+billing?.card.exp_month : billing?.card.exp_month }}/{{ billing?.card.exp_year }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span class="row-header">Payment Gateway</span>
        <a class="edit-button">Edit</a>
        <span class="row-content">{{ gateway | capitalize }}</span>
      </div>
    </div>

    <button class="btn mb-btn-rounded-primary" (click)="confirm()">Confirm & Continue</button>


  </div>
</div>
