.mb-container{
  width: 100%;
  overflow: auto !important;
  max-height: none !important;
  /*overflow: auto !important;*/
}

/* :host ::ng-deep .mb-white-box { 
  padding: 20px 0 0; 
} */

@media only screen and (max-width: 1120px){
  .mb-container{
    padding: 0;
  }
}

