<div class="mb-container animated fadeIn">

  <div class="row text-center mb-row-title">
    <div class="col-md-12">
      <h1 class="display-4">{{location?.location}}</h1>
      <p [hidden]="!location?.description">{{location?.description}}</p>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
