.row{
  width: 100%;
  margin: 0;
}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  /*stroke: #22aaa1 !important;*/
  /* Control the thikness of your lines */
  /*stroke-width: 2px;*/
  /* Create a dashed line with a pattern */
  /*stroke-dasharray: 10px 20px;*/
}

.table-fade{
  position: absolute;
  z-index: 1;
  right: 1rem;
  height: 210px;
  min-width: 50px;
  max-width: 50px;
  -webkit-box-shadow: inset -20px 0px 50px 0px rgba(235,235,235,1);
-moz-box-shadow: inset -20px 0px 50px 0px rgba(235,235,235,1);
box-shadow: inset -20px 0px 50px 0px rgba(235,235,235,1);
}

.extra-padding{
    padding-right: 50px;
}