
<app-report-header
  [title]="report?.$key"
  [summary]="summaryData?.total"
  [currentRange]="currentRange"
  (onZoomIn)="onZoomIn($event)"
  (onZoomOut)="onZoomOut($event)"
  (onCustomData)="onCustomData($event)"
  (onDeactivateCustomData)="onDeactivateCustomData($event)"
>
</app-report-header>

<div class="row justify-content-center">
  <div class="col-12">
    <alert></alert>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-history-chart
      [history]="historyData"
      [reportName]="report?.$key"
      [range]="daysRange"
    ></app-history-chart>
  </div>
</div>

<hr class="my-5">


<div class="row mt-5 kpiCardsContainer">

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData?.current"
      [timeRange]="'Current'"
      [percentage]="false"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData?.monthAgo.total"
      [timeRange]="'1 Month Ago'"
      [percentage]="kpiData?.monthAgo.percentageChange"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData?.threeMonthsAgo.total"
      [timeRange]="'3 Months Ago'"
      [percentage]="kpiData?.threeMonthsAgo.percentageChange"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData?.twelveMonthsAgo.total"
      [timeRange]="'12 Months Ago'"
      [percentage]="kpiData?.twelveMonthsAgo.percentageChange"></app-report-kpi>
  </div>

</div>

<hr class="my-5">

<div class="row px-3 table-per-column justify-content-center">
  <div class="col-4 main-col">
    <ul>
      <li class="mb-light-bg pl-2">Breakdown</li>
      <li class="bg-white pl-2">New</li>
      <li class="bg-white pl-2">Expansion</li>
      <li class="bg-white pl-2">Contraction</li>
      <li class="bg-white pl-2">Churn</li>
      <li class="mb-light-bg pl-2">Change</li>
    </ul>
  </div>
  <div class="col-8 child-col scrollable-container"
       drag-scroll
       (reachesLeftBound)="leftBoundStatus($event)"
       (reachesRightBound)="rightBoundStatus($event)"
       #nav>
    <ul class="text-right" *ngFor="let elem of breakdownTableData; let i = index ">
      <li class="bg-light">
        {{ elem?.date | monthDay}}
      </li>
      <li [ngClass]="{'text-muted': elem?.new === 0, 'mb-color-primary': elem?.new > 0, 'text-danger': elem?.new < 0}">
        {{ elem?.new | mbCurrency }}
      </li>
      <li [ngClass]="{'text-muted': elem?.expansion === 0, 'mb-color-primary': elem?.expansion > 0, 'text-danger': elem?.expansion < 0}">
        {{ elem?.expansion | mbCurrency }}
      </li>
      <li [ngClass]="{'text-muted': elem?.contraction === 0, 'mb-color-primary': elem?.contraction > 0, 'text-danger': elem?.contraction < 0}">
        {{ elem?.contraction | mbCurrency }}
      </li>
      <li [ngClass]="{'text-muted': elem?.churn === 0, 'mb-color-primary': elem?.churn > 0, 'text-danger': elem?.churn < 0}">
        {{ elem?.churn | mbCurrency }}
      </li>
      <li class="bg-light" [ngClass]="{'text-muted': elem?.change === 0, 'mb-color-primary': elem?.change > 0, 'text-danger': elem?.change < 0}">
        {{ elem?.change | mbCurrency }}
      </li>
    </ul>
  </div>
  <div class="table-fade animated" [ngClass]="{'fadeOut': !applyFade, 'fadeIn': applyFade}"></div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-sm-12 col-md-4 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn mb-primary" (click)="moveLeft()" [disabled]="disableBtnLeft">
        <i class="fa fa-chevron-left"></i>
      </button>
      <button type="button" class="btn btn mb-primary" (click)="moveRight()" [disabled]="disableBtnRight">
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>

<hr class="my-5">

<div class="row mb-2">
  <div class="col-12">
    <h6>MRR Breakdown</h6>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="ct-chart ct-chart-bar ct-grid-background"></div>
  </div>
</div>

<hr class="my-5">

<div class="row">
  <div class="col-12">
    <app-plans-chart
      [byPlan]="planData"
      [reportName]="report?.$key"
      [range]="daysRange"
    ></app-plans-chart>
  </div>
</div>
