
#contentParent{
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 890px;
}

.col-right, .col-left{
  float: left;
}

.col-right{
  width: 60%;
  height: 100%;
  max-height: 890px;
  overflow: auto;
}

.col-left{
  background: #FFFFFF;
  height: 100%;
  max-height: 890px;
  overflow: auto;
  width:40%;
  position: absolute;
  right: 0;
  top: 0;
}


#dashContainer{
  position: relative;
  height: auto !important;
  min-height: 100%;
  background: #FFFFFF;
}

.row{
  width: 100%;
  margin: 0;
}

.col-sm-12{
  padding: 0;
}

#emptyDashboard{
  padding: 75px 0 65px;
}

#emptyDashboard p{
  margin-top: 10px;
}

.oval-copy{
  margin-top: 144px;
}

.oval-copy > h5{
  margin-top: 24px;
  font-size: 24px;
  font-weight: normal;
  cursor: pointer;
}

.oval-copy > h5:hover{
  border-bottom: 2px solid #ffffff;
}


#reportsContainer{
  overflow: auto;
}

#reportsContainer::-webkit-scrollbar{
  width: 0 !important;
}

.rightContainer{
  width: 100%;
  /*max-height: 890px;*/
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #FFFFFF;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.08);
}

.rightContainer::-webkit-scrollbar{
  width: 0 !important;
}

.background-animation{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(132, 202, 231, .1);
}

@media only screen and (max-width: 1920px){
  #reportsContainer, .cards-container, .event-feed-container{
    height: 1080px;
  }
}

@media only screen and (max-width: 1366px){
  #reportsContainer, .cards-container, .event-feed-container{
    height: 870px;
  }
}

@media only screen and (max-width: 1280px){
  #reportsContainer, .cards-container, .event-feed-container{
    height: 1024px;
  }
}

@media only screen and (max-width: 1024px){
  #reportsContainer, .cards-container, .event-feed-container{
    height: 870px;
  }
}

@media only screen and (max-width: 1440px){
  .grid{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media only screen and (max-width: 767px) {
  .hide-report {
    display: none;
  }

  .show-report {
    display: block;
  }
}

@media only screen and (max-width: 340px){
  .grid{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
