<!--<div class="row text-white no-print" id="emptyDashboard" *ngIf="reports">
  <div class="col-12 text-center ">
    <h1 class="display-4">Nothing Here Yet!</h1>
    <p>Add some reports to your dashboard to start receiving metrics!</p>

    <div class="oval-copy">
      <span class="helper"></span><img src="../../../../../assets/images/dashboard_first/dashboard/Icon/Graph.png" alt="">

      <h5 [routerLink]="['/reports/add']">Add Reports</h5>
    </div>


  </div>

</div>-->

<div class="row event-feed-container" *ngIf="!reports">
  <div
      [ngClass]="{
        'col-md-7': !changeSize,
        'col-md-5': changeSize
      }"
      class="col-sm-12 animated fadeIn" #dashboardSide
      id="reportsContainer">
    <app-kpi-dash (onChangeSize)="onChangeSize($event)"></app-kpi-dash>
  </div>
  <div
      [ngClass]="{
        'col-md-5': !changeSize,
        'col-md-7': changeSize
      }"
      #reportSide
      class="col-sm-12 animated fadeIn rightContainer pb-5 hide-report">

    <app-statistics-dash></app-statistics-dash>
  </div>
</div>
