
<div class="row justify-content-center mb-white-box" id="registerProfileContainer">
  <div class="col-md-5 hide-column text-center">
    <div class="oval-copy">
      <span class="helper"></span><img src="../../../../assets/images/auth/RegisterGateway/Icon/CardSlot.svg" alt="">
    </div>

    <div id="registerGatewayAbout">
      Choose a payment gateway that you’d like MetricBeast to pull your real-time data from. You can add more later!
    </div>

  </div>
  <div class="col-sm-12 col-md-5" id="gatewayContainer">

    <div class="row">
      <div class="col-12">
        <div class="card-deck">
          <div class="card" [ngClass]="{'cursor-disable': stripeRegistered}" (click)="connectStripe()">
            <img class="card-img-top" src="../../../../assets/images/auth/RegisterGateway/Logo/Stripe.svg" alt="Stripe">
            <div class="card-body"></div>
            <div class="card-footer text-center bg-white border-0">
              <span class="fa fa-2x fa-check-circle-o" *ngIf="selectedGateway === 'stripe'; else stripe_u"></span>
              <ng-template #stripe_u>
                <span class="fa fa-2x fa-circle-o"></span>
              </ng-template>
            </div>
          </div>

          <div class="card" [ngClass]="{'cursor-disable': paypalRegistered}" (click)="connectPaypal()">
            <img class="card-img-top" src="../../../../assets/images/auth/RegisterGateway/Logo/PayPal.svg" alt="PayPal">
            <div class="card-body text-center"></div>
            <div class="card-footer text-center bg-white border-0">
              <span class="fa fa-2x fa-check-circle-o" *ngIf="selectedGateway === 'paypal'; else paypal_u"></span>
              <ng-template #paypal_u>
                <span class="fa fa-2x fa-circle-o"></span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row animated fadeIn" *ngIf="selectedGateway">
      <div class="col-12">
        <label for="currency" class="text-muted">Select a Currency</label>
        <select id="currency" name="currency" [(ngModel)]="currency" (ngModelChange)="selectedCurrency()" class="form-control">
          <option selected disabled>Select an option...</option>
          <option *ngFor="let curr of currencies" [value]="curr.code">{{curr.name}} ({{curr.symbol}})</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-center" id="rowButtonContinue">
      <div class="col-sm-12 col-md-8">
        <button class="btn mb-btn-rounded-primary"
                (click)="next()"
                [disabled]="!selectedGateway || !currency">Continue</button>
      </div>
    </div>


  </div>
</div>
