#gatewayModal{
  padding: 40px 0;
}

#gatewayModal span{
  color: #7C8380;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

#gatewayContainer > div{
  margin-bottom: 20px;
}

#passwordInputModal .float-right{
  text-decoration: none;
  color: #22AAA1;
  font-size: 16px;
  font-weight: 500;
}

form button{
  width: 100%;
  padding: 15px;
}

form a{
  text-decoration: none;
  color: #22AAA1;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

form a:hover {
  color: #22AAA1;
  border-bottom: 2px solid #22AAA1;
}

#registerGatewayAbout{
  position: relative;
  display: block;
  height: 160px;
  width: 380px;
  color: #88908D;
  margin: 0 auto;
  font-family: 'Roboto', 'sans-serif';
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.gtw img{
  display: block;
  margin: 0 auto 1rem;
}

.gtw *{
  display: block;
}

.card{
  border: none;
  color: #22aaa1;
  cursor: pointer;
}

.cursor-disable{
  cursor: auto;
}

#rowButtonContinue{
  position: absolute;
  width: 100%;
  bottom: 0;
}

table tbody tr td{
  padding:  0 10px;
}

@media only screen and (max-width: 1199px){
  .hide-column{
    display: none;
  }
}

/*.paypalContainer{
  background-image: url(../../../../assets/images/auth/RegisterGateway/Logo/PayPal.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stripeContainer {
  background-image: url(../../../../assets/images/auth/RegisterGateway/Logo/Stripe.svg);
  background-repeat: no-repeat;
  background-position: center;
}*/

/*#gatewayContainer .form-group{
    width: 49%;
    height: 100px;
    display: inline-block;
    margin-bottom: 50px;
}

#recurlyContainer label{
    width: 100%;
    height: 48px;
    background-image: url(../../../../assets/images/auth/RegisterGateway/Logo/Recurly.png);
    background-repeat: no-repeat;
    background-position: center;
}

#amazonPayContainer label{
    width: 100%;
    height: 80px;
    background-image: url(../../../../assets/images/auth/RegisterGateway/Logo/AmazonPay.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#googleContainer label{
    width: 100%;
    height: 110px;
    background-image: url(../../../../assets/images/auth/RegisterGateway/Logo/GoogleWallet.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#squareContainer label{
    width: 100%;
    height: 80px;
    background-image: url(../../../../assets/images/auth/RegisterGateway/Logo/Square.svg);
    background-repeat: no-repeat;
    background-position: center;
}*/
