#profileUploadContainer> div{
  position: relative;
  max-width: 505px;
  min-height: 350px;
  max-height: 350px;
  padding: 72px 0 0;
}

.border-box{
  border: 4px solid #F3F3F3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(216,216,216,0);
}

#profileUploadContainer > div > h5 > label{
  color: #22AAA1;
  cursor: pointer;
}

#profileUploadContainer > div > input{
  display: none;
}

#progressBarContainer > h5{
  margin-bottom: 2rem;
}

#progressBarContainer > span{
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-weight: 300;
  letter-spacing: -2px;
  color: #22AAA1;
}

#uploadedPhoto{
  padding: 0 !important;
}

#uploadedPhoto > .oval-copy{
  margin: 0  auto 1rem;
}

#uploadedPhoto > .oval-copy > img{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#uploadedPhoto > h5{
  margin-bottom: 2rem;
}

#uploadedPhoto > span{
  display: block;
  width: fit-content;
  margin: 1rem auto 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.mb-btn-rounded-primary{
  width: 50%;
}
