<div class="row justify-content-center mb-white-box" id="profileUploadContainer">

  <!--(dragover)="dragover_handler($event)" (drop)="drop_handler($event)"-->
  <div class="col-sm-12 col-md-6 text-center border-box" *ngIf="!loading && !showPhoto">
    <h5>Drag a Photo Here or</h5>
    <h5><label for="file">Browse</label> to Upload</h5>
    <input type="file" id="file" name="file">
    <img src="../../../../../assets/images/dashboard_first/profile_info/Icon/PhotoPlaceholder.svg" alt="Profile Photo">
    <button class="btn" (click)="uploadPhoto()">Loading</button>
  </div>

  <div class="col-sm-12 col-md-6 text-center" id="progressBarContainer" *ngIf="loading && !showPhoto">
    <h5>Uploading...</h5>
    <span>{{ progressPercentage }}%</span>
    <div class="mb-progress">
      <div class="mb-progress-bar" [ngStyle]="{'width': progressPercentage + '%'}">

      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 text-center" id="uploadedPhoto" *ngIf="showPhoto">
    <div class="oval-copy">
      <span class="helper"></span><img src="../../../../../assets/images/profile.png" alt="Profile">
    </div>
    <h5>Your Photo is Uploaded</h5>
    <button class="btn mb-btn-rounded-primary" [routerLink]="['/account/profile']">Save & Finish</button>
    <span class="mb-color-primary" (click)="reset()">Use a Different Photo</span>
  </div>

</div>
