<div class="row justify-content-center mb-white-box" >
  <div class="col-6 hide-column text-center">
    <div class="oval-copy">
      <span class="helper"></span><img src="../../../../assets/images/auth/RegisterBilling/Icon/BillingInfo.svg" alt="">
    </div>

    <div id="registerBillingAbout">
      We take your privacy and security very seriously. We use the latest methods and techniques so that you can rest easy knowing your data is safe and secure.
    </div>

  </div>
  <div class="col-sm-12 col-md-6" [hidden]="validating">

    <alert></alert>

    <form [formGroup]="form" id="billingForm" (submit)="nextStep($event)">

      <!--<div class="form-row" *ngIf="invalidCard">
        <div class="col">
          <div class="alert alert-danger" role="alert">
            {{ cardError?.message }}
          </div>
        </div>
      </div>-->

      <div class="form-row">

        <div class="col">
          <div class="form-group" id="cardName">
            <label>Name on Card</label>
            <input type="text" class="form-control mb-input"
                   placeholder="Full Name"
                   formControlName="nameCard">
          </div>
        </div>

        <div class="col">
          <div class="form-group" id="cardNumber">
            <label>Credit Card #</label>
            <!--<input class="form-control mb-input"
                   placeholder="xxxx-xxxx-xxxx"
                   [textMask]="{mask: ccMask, guide: false}"
                   (focusout)="validateNumberCard()"
                   (keyup)="validateNumberCard()"
                   minlength="19" maxlength="19"
                   type="text"
                   formControlName="numberCard"
                   [ngClass]="{'mb-input-invalid': invalidNumberCard && form.get('numberCard').touched}">-->
            <div id="card-number">

            </div>
            <!--<div class="text-danger" *ngIf="cardError?.code == 'incomplete_number' || cardError?.code == 'invalid_number'">
              {{ cardError?.message }}
            </div>-->
          </div>
        </div>

      </div>

      <div class="form-row">

        <div class="col">
          <div class="form-group" id="cvv">
            <label>CVV</label>
            <!--<input type="password" class="form-control mb-input"
                   placeholder="xxx"
                   minlength="3"
                   maxlength="3"
                   formControlName="cvv"
                   (focusout)="validateCVV()"
                   (keypress)="validateCVV()"
                   [ngClass]="{'mb-input-invalid': invalidCVV && form.get('cvv').touched}">-->
            <div id="card-cvc">

            </div>
            <!--<div class="text-danger" *ngIf="cardError?.code == 'incomplete_cvc'">
              {{ cardError?.message }}
            </div>-->
          </div>
        </div>

        <div class="col">
          <div class="form-group" id="expDate">
            <label>Exp. Date</label>
            <!--<input type="text" class="form-control mb-input"
                   placeholder="MM/YY"
                   [textMask]="{mask: expDateMask, guide: false}"
                   (focusout)="validateExpDate()"
                   (keypress)="validateExpDate()"
                   formControlName="expDate"
                   [ngClass]="{'mb-input-invalid': invalidExpDate && form.get('expDate').touched}">-->
            <div id="card-exp">

            </div>
            <!--<div class="text-danger"
                 *ngIf="cardError?.code == 'incomplete_expiry' ||
                 cardError?.code == 'invalid_expiry_year_past' ||
                 cardError?.code == 'invalid_expiry_year' ||
                 cardError?.code == 'invalid_expiry_month_past'">
              {{ cardError?.message }}
            </div>-->
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group" id="country">
            <label>Country</label>
            <select name="" class="form-control mb-select"
                    formControlName="country">
              <option *ngFor="let country of countries" [value]="country.code">{{ country.name}}</option>
            </select>
            <!--<input type="text" class="form-control mb-input" formControlName="country" [ngbTypeahead]="search" [inputFormatter]="formatter">-->
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group"  id="street">
            <label>Street Addres</label>
            <input type="text" class="form-control mb-input"
                   placeholder="Street Address"
                   formControlName="street">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <button type="submit" class="btn mb-btn-rounded-primary"
                  [disabled]="(!this.form.valid || validating)">Continue</button>
        </div>
      </div>

    </form>

  </div>

  <div class="col-12" *ngIf="validating">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>
