.mb-white-box{
  padding-bottom: 50px;
}

#registerBillingAbout{
    position: relative;
    display: block;
    width: 380px;
    height: 200px;
    color: #88908D;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#billingForm{
    padding-right: 74px;
}

.text-error{

}

#cardName, #cardNumber, #cvv, #expDate{
    /*display: inline-block;
    width: 49%;*/
}

#cardName, #cvv{
    padding-right: 15px;
}

#cardNumber, #expDate{
    padding-left: 15px;
}

/*#country, #street{
    width: 99%;
}

.container-btn{
    width: 99%;
}*/

.StripeElement {
 /* background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;*/
  border: 2px solid #DFE6E4 !important;
  border-radius: 4px !important;
  padding: 18px 0 18px 12px !important;
  font-size: 16px;
  color: #9BA4A1;
}

/*
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
*/

@media only screen and (max-width: 1220px){
  #billingForm{
    padding: 0;
  }
}

@media only screen and (max-width: 540px) {
  #cardName, #cardNumber, #cvv, #expDate{
    display: block;
    width: 100%;
  }
}

.sk-circle .sk-child:before {
  background-color: #22AAA1;
}
