.report-header-summary{
  text-align: left;
}

.report-header-summary h1, .report-header-summary h2{
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.report-header-summary h1{
  font-size: 40px;
}

.report-header-summary h2{
  font-size: 24px;
}

.report-header-controls{
  text-align: right;
}

.text-muted{
  font-size: 14px;
}

.fa-search-plus,
.fa-search-minus{
  font-size: 16px;
  padding: 0 2px;
}

.input-group{
  /*width: 130px;*/
  width: 100%;
  margin-left: auto;
}

.custom-date-input{
  font-size: 10px !important;
  padding: 0 0 0 .5rem !important;
}

.custom-date-button{
  font-size: 10px !important;
  width: 45px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.custom-date-1340{
  display: none;
}

.header-badge {
  font-weight: normal;
}
:host ::ng-deep .d-inline-block:focus, :host ::ng-deep .rounded:focus, :host ::ng-deep .dropdown-menu:focus{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

:host ::ng-deep .btn-link{
  border: none;
  color: #22aaa1;
}

:host ::ng-deep .btn-light{
  font-weight: lighter !important;
}

:host ::ng-deep .ngb-dp-weekday{
  font-style: normal !important;
}

@media only screen and (max-width: 1340px){
  .custom-date-1340{
    display: block;
  }

  .custom-date-1340 button{
    font-size: 10px;
  }

  .input-group{
    display: none;
  }
}


@media only screen and (max-width: 767px){
  .input-group{
    display: flex;
    width: 150px;
    margin: 0 auto;
  }

  .custom-date-1340{
    display: none;
  }
}


@media only screen and (max-width: 480px) {
  .report-header-summary, .report-header-controls {
    text-align: center;
  }

  .report-header-controls span {
    display: block;
  }
}
