<div class="row pt-4 justify-content-between">
  <div class="col-12 report-header-summary" id="statisticsTitle">
    <h2>{{ report?.name | capitalize }}</h2>
    <ng-container [ngSwitch]="title">

      <h1 *ngSwitchCase="'churn'">{{summary ? summary.toFixed(1) : '0'}}%</h1>
      <h1 *ngSwitchCase="'revenuechurn'">{{summary ? summary.toFixed(1) : '0'}}%</h1>
      <h1 *ngSwitchCase="'subscription_new'">{{summary ? summary : '0'}}</h1>
      <h1 *ngSwitchCase="'subscription_upgrade'">{{summary ? summary : '0'}}</h1>
      <h1 *ngSwitchCase="'subscription_downgrade'">{{summary ? summary : '0'}}</h1>
      <h1 *ngSwitchCase="'subscription_cancel'">{{summary ? summary : '0'}}</h1>
      <h1 *ngSwitchCase="'transaction_fail'">{{summary ? summary : '0'}}</h1>
      <h1 *ngSwitchDefault>{{summary ? (summary | mbCurrency) : '0'}}</h1>

    </ng-container>
  </div>

</div>


<div class="row px-3 my-3 justify-content-end">

  <div class="col-sm-12 col-md-3 mb-2 text-center text-sm-center text-md-right px-1 d-md-none d-lg-none">
    <span class="badge badge-secondary header-badge align-top">{{ customDataActivated ? 'Custom Dates' : currentRange?.name }}</span>
  </div>

  <div class="col-sm-12 col-md-3 mb-2 text-center text-sm-center text-md-right px-1 animated fadeIn">
    <i class="fa fa-search-plus text-secondary cursor-pointer align-top" (click)="zoomIn()"></i>
    <i class="fa fa-search-minus text-secondary cursor-pointer align-top" (click)="zoomOut()"></i>
  </div>

  <div class="col-sm-12 col-md-3 mb-2 text-center text-sm-center text-md-right px-1">
    <div class="input-group">
      <input class="form-control bg-white custom-date-input" placeholder="YYYY-MM-DD"
             name="dateFrom" [(ngModel)]="dateFrom" (ngModelChange)="generateCustomDate()"
             ngbDatepicker #from="ngbDatepicker" readonly>
      <span class="input-group-btn">
        <button class="btn btn-secondary custom-date-button cursor-pointer text-white" (click)="from.toggle(); to.close()">From</button>
      </span>
    </div>

    <div class="custom-date-1340">
      <button class="btn btn-secondary btn-sm btn-block p-0" (click)="fromBtn.toggle(); toBtn.close()">
        {{ dateFrom ? dateFrom?.year + '-' + dateFrom?.month + '-' + dateFrom?.day : 'From' }}
      </button>
      <input type="hidden" name="dateFrom" [(ngModel)]="dateFrom" (ngModelChange)="generateCustomDate()" ngbDatepicker #fromBtn="ngbDatepicker">
    </div>

  </div>

  <div class="col-sm-12 col-md-3 mb-2 text-center text-sm-center text-md-right px-1">
    <div class="input-group">
      <input class="form-control bg-white custom-date-input" placeholder="YYYY-MM-DD"
             name="dateTo" [(ngModel)]="dateTo" (ngModelChange)="generateCustomDate()"
             ngbDatepicker #to="ngbDatepicker" readonly>
      <span class="input-group-btn">
        <button class="btn btn-secondary custom-date-button cursor-pointer text-white" (click)="to.toggle(); from.close()">To</button>
      </span>
    </div>

    <div class="custom-date-1340">
      <button class="btn btn-secondary btn-sm btn-block p-0" (click)="toBtn.toggle(); fromBtn.close()">
        {{ dateTo ? dateTo?.year + '-' + dateTo?.month + '-' + dateTo?.day : 'To' }}
      </button>
      <input type="hidden" name="dateTo" [(ngModel)]="dateTo" (ngModelChange)="generateCustomDate()" ngbDatepicker #toBtn="ngbDatepicker">
    </div>

  </div>


  <div class="col-sm-12 col-md-3 mb-2 text-center text-sm-center text-md-right px-1 d-none d-sm-none d-md-block">
    <span class="badge badge-secondary header-badge align-top w-100 ">{{ customDataActivated ? 'Custom Dates' : currentRange?.name }}</span>
  </div>

</div>
