<div class="row">
  <div class="col-12">
    <div>
      <table class="table table-responsive color-hue-table">

        <thead>
        <tr>
          <th rowspan="2" colspan="2">Subscription</th>
          <th colspan="14" class="text-center">Months since account creation</th>
        </tr>
        <tr class="text-center">
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let d of table; let ext_index = index">
          <td class="date">{{d?.date}}</td>
          <td class="count">{{d?.count}}</td>
          <td *ngFor="let val of d?.values; let inn_index = index"
              class="{{'colored y'+ext_index+'x'+inn_index}}"
              [style.opacity]="val ? val/100 : 0"
              (mouseenter)="assignHover($event)" (mouseleave)="detachHover($event)">
            {{val | percentage}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
