<div class="mb-white-box animated fadeIn pb-5">

  <div class="row text-center justify-content-center">
    <div class="col-6">
      <alert></alert>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="emptyGateways">
    <div class="col-sm-12 col-md-8">
      <div class="jumbotron text-center bg-white">
        <h1 class="display-4">You don't have any gateway yet!</h1>
        <p class="lead">Check if you have removed gateways or add a new one</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary mb-primary" [routerLink]="['update']" role="button">
            Check for removed!
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- <button class="btn btn-danger cursor-pointer" >Remove Gateway</button> -->

  <div class="row justify-content-center text-center">
      <div class="col-sm-12 col-md-4 card" *ngFor="let gtw of gateways">
          <i class="fa fa-times text-danger cursor-pointer mx-auto" (click)="removeGateway(gtw?.$key)"></i>
          <div class="card-body">
              <img src="../../../../../assets/images/auth/RegisterGateway/Logo/PayPal.svg" alt="PayPal" *ngIf="gtw?.name === 'Paypal'">
              <img src="../../../../../assets/images/auth/RegisterGateway/Logo/Stripe.svg" alt="Stripe" *ngIf="gtw?.name === 'Stripe'">
          </div>
          <div class="card-footer bg-transparent border-0">
            <h4 class="h-display">{{gtw?.name}}</h4>
          </div>
      </div>
  </div>

  <hr class="my-4">

  <div class="row justify-content-center" id="secondRow">
    <div class="col-sm-12 col-md-4">
      <!--<button class="btn mb-btn-rounded-primary">Change Gateway</button>-->
      <a class="btn mb-btn-rounded-primary" [routerLink]="['add']">Add Gateway</a>
    </div>
  </div>

</div>
