<div class="mb-gradient-bg mb-container animated fadeIn" id="firstTimeContainer">

  <div class="row mb-row-title" id="firstTimeInfo">
    <div class="col-12">
      <h1 class="display-4">Hey there first-timer!</h1>
      <div id="firstTimeAbout">
        <span>
          Looks like this is your first time using MetricBeast.
          Here are some things you can do to get started.
        </span>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-white-box" id="firstTimeContent">
    <div class="col-sm-12 col-md-4 mb-card" [routerLink]="['/reports/add']">
      <div class="oval-copy">
        <span class="helper"></span><img src="../../../../assets/images/dashboard_first/dashboard/Icon/Graph.png" id="graphIcon">
      </div>
      <div>
        <h4 class="mb-card-title">Add Reports</h4>
        <p class="mb-card-text">Receive metrics for Net Revenue, User Churn, and Lifetime Value Report</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-card" [routerLink]="['/account']">
      <div class="oval-copy">
        <span class="helper"></span><img src="../../../../assets/images/dashboard_first/dashboard/Icon/FrogAvatar.svg" id="avatarIcon">
      </div>
      <div>
        <h4 class="mb-card-title">Update Your Profile</h4>
        <p class="mb-card-text">Upload an avatar and manage your sign-in information</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-card" [routerLink]="['/account/gateway/update']">
      <div class="oval-copy">
        <span class="helper"></span><img src="../../../../assets/images/auth/RegisterGateway/Icon/CardSlot.svg" id="cardSlotIcon">
      </div>
      <div>
        <h4 class="mb-card-title">Add an Additional Gateway</h4>
        <p class="mb-card-text">Choose from a great selection of payment gateways</p>
      </div>
    </div>

  </div>

</div>
