.oval-copy{
  background-color: transparent !important;
  margin-bottom: 0;
}

#firstTimeInfo{
  text-align: center;
}

#firstTimeInfo h1{
  color: #ffffff;
  padding: 10px 0;
}

#firstTimeAbout{
  width: 360px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

#firstTimeContent{
  padding-bottom: 500px;
 /* margin-top: 50px;
  padding: 150px 105px 140px;
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;*/
}

.mb-card{
  text-align: center;
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
  padding: 60px 0;
}

.mb-card:hover {
  /*-webkit-box-shadow: 0px 11px 36px -10px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 11px 36px -10px rgba(0,0,0,0.46);
  box-shadow: 0px 11px 36px -10px rgba(0,0,0,0.46);*/
  -webkit-box-shadow: 0 11px 36px -16px rgba(0,0,0,0.46);
  -moz-box-shadow: 0 11px 36px -16px rgba(0,0,0,0.46);
  box-shadow: 0 11px 36px -16px rgba(0,0,0,0.46);
}

.mb-card-title{
  color: #041B15;
  font-family: Roboto, sans-serif !important;
  font-size: 24px;
  font-weight:normal;
  margin-bottom: 1rem;
}

.mb-card-text{
  color: #7C8380;
  font-family: Roboto, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
}
#graphIcon{
  margin: 2rem 0 0 .5rem;
}

#avatarIcon{
  margin: 2.5rem 0 0 .1rem;
}

#cardSlotIcon{
  margin: 2rem 0 0 .2rem;
}



@media only screen and (max-width: 1340px) {
  #firstTimeContent{
    padding: 150px 40px 20px;
  }

  .mb-card{
    width: auto;
    /*margin: 0 auto;*/
  }
}



@media only screen and (max-width: 840px) {

  .mb-container{
    max-height: none !important;
  }

  #firstTimeContent{
    padding-bottom: 0px;
  }

  #firstTimeContent > div{
    margin-bottom: 40px;
  }

  #firstTimeContainer{
    padding: 75px 0 0;
  }

  #firstTimeInfo{
    padding-bottom: 2rem;
  }

  #firstTimeAbout{
    width: auto;
    height: auto;
    padding: 0 10px;
  }

  .mb-card{
    text-align: center;
    width: auto;
    margin: 0 auto;
  }

}
