<div class="mb-white-box animated fadeIn">
  <!--<div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-4" id="billingBox">
      <h4>Current Payment Method</h4>
      <div id="billingInfo">
        <p>{{source?.brand | uppercase}}</p>
        <p>XXXX-XXXX-XXXX-{{source?.last4}}</p>
        <p>Exp. {{source?.exp_month}}/{{source?.exp_year}}</p>
      </div>
    </div>
  </div>-->

  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-6 text-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Plan {{subscription?.plan.name}}</h4>
          <table class="table">
            <thead>
            <tr>
              <th>Amount</th>
              <th>Start</th>
              <th>End</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>${{subscription?.plan.amount | cents}}</td>
              <td>{{subscription?.plan.current_period_start | momentDate}}</td>
              <td>{{subscription?.plan.current_period_end | momentDate}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 text-center">

      <h4 class="mb-5">Payments history</h4>

      <table class="table text-center">
        <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let inv of charges?.data">
          <td>{{inv?.date | momentDate}}</td>
          <td>${{inv?.amount | cents}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-12 text-center">
      <button class="btn mb-btn-rounded-primary">Add New Card</button>
    </div>
  </div>
-->
</div>
