/*
.mb-btn-rounded-primary{
  width: 25%;
}

.row{
  width: 100%;
  margin: 0;
  padding-bottom: 2rem;
}

.mb-white-box{
  width: 100%;
}

.mb-white-box > div:first-child{
  box-shadow: inset 0 -2px 0 0 #F3F3F3;
}

#billingBox h4{
  margin-bottom: 2rem;
  color: #041B15;
  font-family: Roboto, sans-serif;
}

#billingInfo{
  position: relative;
}

#billingInfo > a{
  position: absolute;
  top: 0;
  right: 0;
  color: #22AAA1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

#billingInfo > p{
  margin-bottom: .5rem;
  color: #7C8380;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 720px){
  .mb-btn-rounded-primary{
    width: 50%;
  }
}

@media only screen and (max-width: 380px){
  .mb-btn-rounded-primary{
    width: 100%;
  }
}
*/

.card {
  border-color: #22aaa1;
}

.card .table tbody tr td, .card .table thead tr th{
  border-color: #22aaa1;
}
