<div class="row">
  <div class="col-12">
    <ul class="nav justify-content-between" id="messagesMenu">
      <li class="nav-item">
        <h4>Event Feed</h4>
      </li>
    </ul>
  </div>
</div>

<div class="event-feed-container animated fadeIn" *ngIf="events.length > 0">
  <div class="row message-item" *ngFor="let e of events">
    <div class="col-8">
      <!--<span class="message-user">jkrowling@gmail.com</span>-->
      <p>{{ e?.event }}</p>
      <!--<span class="message-time">{{e?.relative}}</span>-->
    </div>
    <div class="col-4">
      <span class="message-time">{{e?.relative}}</span>
    </div>
  </div>
</div>

