.row{
  width: 100%;
  margin: 0;
}

.col-12{
  padding: 0;
}

#messagesMenu{
  padding-top: 2.5rem;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid #DFE6E4;;
  min-height: 112px;
  box-shadow: 0 -5px 5px -5px #333;
  /* -webkit-box-shadow: inset 0px 0px 145px -41px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 145px -41px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 145px -41px rgba(0,0,0,0.75);*/

}

#messagesMenu li h4, #messagesMenu li a{
  color: #041B15;
}

#messagesMenu li h4{
  padding-left: 2.5rem;
  cursor: auto;
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

#messagesMenu li a{
  color: #22AAA1;
  font-family:Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.refresh-button{
  padding: 0 !important;
  padding-right: 2.5rem !important;
}

.refresh-button::after{
  font-family: FontAwesome;
  content: "\f021";
  margin-left: .5rem;
}

.message-item{
  width: 100%;
  min-height: 56px;
  background-color: #FFFFFF;
  box-shadow: inset 0 -2px 0 0 #F3F3F3;
  padding: 0 20px;
}

.message-item span, .message-item p{
  display: inline-block;
  /*vertical-align: middle;*/
  margin: 1rem 0;
}

.message-user{
  color: #136F63;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.message-item p{
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.message-time{
  position: absolute;
  right: 0;
  color: #9BA4A1;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

