<div class="row" [hidden]="!byPlan">
  <div class="col-sm-12 col-md-6 text-center pl-5">
    <h6 class="mb-5">Plans</h6>
    <table class="table mx-auto" id="revenueTable" *ngIf="reportName === 'subscription'; else normalTable">
      <thead>
      <tr>
        <th>Plan ID</th>
        <th>Name</th>
        <th>Count</th>
        <th>Revenue</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let plan of byPlan">
        <td>{{ plan.planId }}</td>
        <td>{{ plan.planName }}</td>
        <td>{{ plan.count }}</td>
        <td>{{ plan.amount | mbCurrency }}</td>
      </tr>
      </tbody>
    </table>

    <ng-template #normalTable>
      <table class="table mx-auto" id="revenueTable">
        <thead>
        <tr>
          <th>Plan ID</th>
          <th>Name</th>
          <th>Revenue</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let plan of byPlan">
          <td>{{ plan.planId }}</td>
          <td class="">{{ plan.planName }}</td>
          <td class="text-right">{{ plan.total | mbCurrency }}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
  <div class="col-sm-12 col-md-6 text-center">
    <h6 class="mb-4">Plans Breakdown</h6>
    <div class="ct-chart ct-slice-pie ct-grid-background"></div>
  </div>
</div>
