<div class="row">
  <div class="col-12 px-0">
    <div class="ct-chart ct-chart-line ct-series-mb ct-grid-background"></div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-12 text-right">
    <button class="btn btn-sm btn-light dropdown-toggle" *ngIf="gateways && gateways.length > 0"
            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Compare with
    </button>
    <span *ngIf="gtwComparing" class="mt-3 animated fadeIn">
      {{gtwComparing?.name}}
      <i class="fa fa-times cursor-pointer text-danger" (click)="closeComparison()"></i>
    </span>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item cursor-pointer" *ngFor="let gtw of gateways" (click)="compare(gtw?.$key)">{{gtw?.name}}</a>
    </div>

  </div>
</div>
