<div class="mb-white-box animated fadeIn px-5">

  <div class="row text-center justify-content-center">
    <div class="col-6">
      <alert></alert>
    </div>
  </div>


  <div class="row mb-4 justify-content-center">
    <div class="col-sm-12 col-md-6">
      <div class="card py-4 text-center border-0">
        <img src="../../../../../../assets/images/auth/RegisterGateway/Logo/Stripe.svg" alt="Stripe">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <input type="text" id="stripe_name"
               name="gatewayName" [(ngModel)]="gatewayName"
               class="form-control mb-input" placeholder="Gateway Name">
      </div>

      <div class="form-group">
        <button class="btn mb-btn-rounded-primary cursor-pointer" (click)="confirm()">Confirm</button>
      </div>
    </div>
  </div>

</div>
