<div class="mb-gradient-bg container-fluid" id="mainContainer">

  <div class="row justify-content-center bg-white py-2">
    <div class="col-3" id="logoContainer">
      <a class="nav-link active pl-3" [routerLink]="['/']">
        <img src="../../../assets/images/dashboard/Default/Logo/Mark/White.svg" alt="">
      </a>
    </div>
    <div class="col-6 text-center" id="menuBtnContainer">
      <a class="nav-link cursor-pointer" (click)="toggleCollapse()">
        Menu
        <i class="fa fa-sort animated fadeIn" *ngIf="!showCollapse"></i>
        <i class="fa fa-times text-danger animated fadeIn" *ngIf="showCollapse"></i>
      </a>
    </div>
    <div class="col-3 pr-4 text-right" id="profileContainer" (click)="toggleProfileDrop()">
      <span class="cursor-pointer">Hey, {{ name }}!</span>
      <div class="oval-copy cursor-pointer" *ngIf="!userProfile?.photos[0]">
        <span class="helper"></span>
        <img src="../../../assets/images/dashboard_first/dashboard/Icon/FrogAvatarOutlines@1x.svg" alt="Profile">
      </div>
      <img *ngIf="userProfile?.photos[0]" class="gravatar-pic animated fadeIn cursor-pointer"
           [src]="userProfile?.photos[0].value" alt="">

      <div *ngIf="showProfileDrop" class="profile-dropdown border-bottom-radius text-left">

       <!-- <a class="dropdown-item cursor-pointer text-center" (click)="toggleProfileDrop()">
          <i class="fa fa-times text-danger"></i>
        </a>-->

        <a class="dropdown-item" [routerLink]="['/account']">
          <i class="fa fa-gear"></i>
          Profile Settings
        </a>

        <a class="dropdown-item cursor-pointer" (click)="signOut()">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>

      </div>
    </div>
  </div>

  <!--<ul class="nav justify-content-between" id="navbar">
    <li class="nav-item" id="logoContainer">
      <a class="nav-link active" [routerLink]="['/']"></a>
    </li>
    <li class="nav-item" id="menuBtnContainer">
      <a class="nav-link" (click)="toggleCollapse()">
        Menu <i class="fa fa-sort"></i>
      </a>
    </li>
    <li class="nav-item" id="profileContainer" (click)="toggleProfileDrop()">
      Hey, {{ name }}!
      <div class="oval-copy" *ngIf="!userProfile?.photos[0]">
        <span class="helper"></span>
        <img src="../../../assets/images/dashboard_first/dashboard/Icon/FrogAvatarOutlines@1x.svg" alt="Profile">
      </div>
      <img *ngIf="userProfile?.photos[0]" class="gravatar-pic animated fadeIn"
           [src]="userProfile?.photos[0].value" alt="">
      <div *ngIf="showProfileDrop"
          class="profile-dropdown border-bottom-radius animated">
        <a class="dropdown-item" [routerLink]="['/account']">
          <i class="fa fa-gear"></i>
          Profile Settings
        </a>
        <a class="dropdown-item" (click)="signOut()">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>-->


  <div *ngIf="showCollapse" id="menuCollapse" class="animated fadeIn text-center">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4 bg-white menu-container">
        <a class="dropdown-item" [routerLink]="['/dashboard']" (click)="showCollapse = !showCollapse">Dashboard</a>
        <a class="dropdown-item cursros-pointer d-block d-md-none" [routerLink]="['/account']">Profile Settings</a>

        <a class="dropdown-item cursor-pointer d-block d-md-none" (click)="signOut()">Logout</a>
        <div class="dropdown-divider" *ngIf="reports.length > 0"></div>
        <h6 class="dropdown-header" *ngIf="gateways.length > 0">My gateways</h6>
        <ng-container *ngFor="let gtw of gateways">
          <a *ngIf="gtw?.$key !== gtw_key; else selectedGtw"
             (click)="changeGateway(gtw?.$key)"
             class="dropdown-item cursor-pointer">{{gtw?.name}}</a>

          <ng-template #selectedGtw>
            <a class="dropdown-item">{{gtw?.name}}</a>
          </ng-template>

        </ng-container>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header" *ngIf="reports.length > 0">My reports</h6>
        <a *ngFor="let report of reports"
           (click)="selectReport(report?.key)"
           class="dropdown-item cursor-pointer">{{ report?.name | capitalize }}</a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
