.row{
  width: 100%;
  margin: 0;
}

#mainContainer{
  position: relative;
  height: auto !important;
  min-height: 100%;
}

.container, .container-fluid{
  padding:0;
}

#authorizedContainer{
  width: 100%;
  padding: 0;
}

#authorizedContainer > nav{
  height: 70px;
  background-color: #ffffff;
}

#navbar{
  height: 75px;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.08);
}

#logoContainer a{
  width: fit-content;
}


#menuBtnContainer a{
  font-size: 16px;
  font-weight: 500;
  color: #041B15;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.oval-copy {
  position: relative;
  display: inline-block;
  text-align: center;
  border: 2px solid #22AAA1;
  background-color: transparent;
  height: 45px;
  width: 45px;
  margin: 0 !important;
  border-radius: 50%;
  white-space: nowrap;
}

#profileContainer{
  font-size: 16px;
  font-weight: 500;
  color: #041B15;
}

.profile-dropdown{
  position: absolute;
  z-index: 1;
  width: auto !important;
  background-color: #FFFFFF;
  padding: 30px 0;
  /*top: 80%;*/
  right: 1.5rem;
  -webkit-box-shadow: 0px 0px 31px -5px rgba(194,194,194,1);
  -moz-box-shadow: 0px 0px 31px -5px rgba(194,194,194,1);
  box-shadow: 0px 0px 31px -5px rgba(194,194,194,1);
}

.profile-dropdown a{
  color: #22aaa1;
}
/*#profileContainer div{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #22AAA1;
  background-image: url(../../../assets/images/dashboard_first/dashboard/Icon/FrogAvatarOutlines@1x.svg);
  background-repeat:no-repeat;
  background-position: center;
}*/


#profileContainer a span{
  height: 20px;
  width: 25px;
}

#menuCollapse{
  position: absolute;
  width: 100%;
  z-index: 2;
  /*max-width: 1440px;*/
  /*background: #FFFFFF;*/
  /*border-top: 2px solid #eee;
  padding: 30px 0;
  -webkit-box-shadow: 0px 14px 31px -5px rgba(158,158,158,1);
  -moz-box-shadow: 0px 14px 31px -5px rgba(158,158,158,1);
  box-shadow: 0px 14px 31px -5px rgba(158,158,158,1);*/
}

#menuCollapse .menu-container{
  padding: 30px 0;
  -webkit-box-shadow: 0px 14px 31px -5px rgba(158,158,158,1);
  -moz-box-shadow: 0px 14px 31px -5px rgba(158,158,158,1);
  box-shadow: 0px 14px 31px -5px rgba(158,158,158,1);
}

#menuCollapse > ul > li{
  margin-right: 1.3rem;
}

.menu-container > a{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #22AAA1;
  padding: 10px 0;
}

#menuCollapse a.dropdown-item{
  margin: 0 auto;
}

.gravatar-pic{
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@media only screen and (max-width: 840px){
  #menuCollapse a.dropdown-item{
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {

  #navbar{
    justify-content: center !important;
  }

  #menuBtnContainer{
    margin-left: 0;
  }

  #menuCollapse > ul > li{
    margin: 0;
  }

  #logoContainer{
    display: none;
  }

  #profileContainer{
    display: none;
  }
}

@media only screen and (max-width: 350px){
  #menuCollapse a.dropdown-item{
    width: 100%;
  }
}
