.row{
  width: 100%;
  margin: 0;
}

#statisticsMenu{
  /*box-shadow: 0 8px 14px 0 rgba(0,0,0,0.08);*/
  border-bottom: 2px solid rgba(0,0,0,0.08);
  min-height: 72px;
  padding-top: 27px;
}

#statisticsMenu div{
  display: inline-block;
}

#statisticsMenu div a{
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* margin-right: 24px; */
  text-decoration: none;
  cursor: pointer;
}

#hideButton{

}

.carousel-button{
  display: none;
}


#share:before{
  content: url("../../../../../../assets/images/dashboard/ReportDetail/Icon/PaperAirplane.svg");
  margin-right: 8px;
}

#print:before{
  content: url("../../../../../../assets/images/dashboard/ReportDetail/Icon/Print.svg");
  margin-right: 8px;
}

#delete:before{
  content: url("../../../../../../assets/images/dashboard/ReportDetail/Icon/Trash.svg");
  margin-right: 8px;
}

:host ::ng-deep .sk-circle {
  width: 80px !important;
  height: 80px !important;
}

.background-animation{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 2;
}


:host ::ng-deep .sk-circle .sk-child:before {
  background-color: #22aaa1 !important;
}

:host ::ng-deep table tbody tr td{
  white-space: nowrap;
}

:host ::ng-deep .forecast-line{
  stroke: #6BB1CE;
  fill: #6BB1CE;
  stroke-width: 1px;
  stroke-dasharray: 8px 4px;
}

:host ::ng-deep .ct-grid{
  stroke: #F2F5FF;
  stroke-width: 1px;
  stroke-dasharray: 0;
}

@media only screen and (max-width: 767px){
  #hideButton{
    display: none;
  }

  .carousel-button{
    display: inline-block;
  }

}
