

<div class="event-feed-container">

  <div class="row border-right-0 border-bottom-0 border-left-0"
       [@backgroundState]="backgroundService.state" [hidden]="selectedReport === reports[0]">
    <div class="col-12" id="statisticsMenu">
      <div class="float-left">
        <a class="ml-2 cursor-pointer" (click)="hideStatistics()" id="hideButton">
          <span class="fa fa-chevron-left"></span>
        </a>

        <a class="ml-2 cursor-pointer carousel-button" (click)="lastReport()">
          <span class="fa fa-chevron-left"></span>
        </a>

      </div>
      <div class="float-right">

        <a id="share" class="mr-3 d-inline-block cursor-pointer" (click)="exportReport()" *ngIf="!generatingPdf">Export</a>

        <div class="alert mb-primary bg-transparent py-0 m-0 animated fadeIn" *ngIf="generatingPdf && !errorPdf">
          <p class="m-0" *ngIf="!createdPdf">Generating PDF <i class="fa fa-spinner fa-pulse"></i></p>
          <p class="m-0" *ngIf="createdPdf">
            <a (click)="openPdf()" class="cursor-pointer">
              Open PDF <i class="fa fa-file-pdf-o"></i>
            </a>
          </p>
        </div>

        <div class="alert alert-danger bg-transparent py-0 m-0 animated fadeIn" *ngIf="errorPdf">
          <p class="m-0">An error has occurred, please try later!</p>
        </div>

        <a class="ml-3 cursor-pointer carousel-button" (click)="nextReport()">
          <span class="fa fa-chevron-right"></span>
        </a>

      </div>
    </div>
  </div>

  <!--<div *ngIf="!report">
    <app-dots-spinner></app-dots-spinner>
  </div>-->

  <!--(swipeleft)="nextReport()" (swiperight)="lastReport()" (doubletap)="closeReport()"-->
  <div class="animated" id="toPrint" #hammerEl
       [ngClass]="{'fadeIn': selectedReport !== 'spinner', 'fadeOut': selectedReport === 'spinner'}"
       style="position: relative;" [@backgroundState]="backgroundService.state">

    <ng-container [ngSwitch]="selectedReport">
      <app-arpu *ngSwitchCase="'arpu'" [report]="report" [currentRange]="range"></app-arpu>
      <app-ltv *ngSwitchCase="'ltv'" [report]="report" [currentRange]="range"></app-ltv>
      <app-churn *ngSwitchCase="'churn'" [report]="report" [currentRange]="range"></app-churn>
      <app-revenuechurn *ngSwitchCase="'revenuechurn'" [report]="report" [currentRange]="range"></app-revenuechurn>
      <app-transaction *ngSwitchCase="'transaction_success'" [report]="report" [currentRange]="range"></app-transaction>
      <app-transaction *ngSwitchCase="'transaction_fail'" [report]="report" [currentRange]="range"></app-transaction>
      <app-mrr *ngSwitchCase="'mrr'" [report]="report" [currentRange]="range"></app-mrr>
      <app-arr *ngSwitchCase="'arr'" [report]="report" [currentRange]="range"></app-arr>
      <app-subscription *ngSwitchCase="'subscription_new'" [report]="report" [currentRange]="range"></app-subscription>
      <app-subscription *ngSwitchCase="'subscription_upgrade'" [report]="report" [currentRange]="range"></app-subscription>
      <app-subscription *ngSwitchCase="'subscription_downgrade'" [report]="report" [currentRange]="range"></app-subscription>
      <app-subscription *ngSwitchCase="'subscription_cancel'" [report]="report" [currentRange]="range"></app-subscription>
      <app-fee *ngSwitchCase="'fee'" [report]="report" [currentRange]="range"></app-fee>
      <app-refund *ngSwitchCase="'refund'" [report]="report" [currentRange]="range"></app-refund>
      <div *ngSwitchCase="'spinner'"><app-dots-spinner></app-dots-spinner></div>
      <app-messages-dash *ngSwitchDefault></app-messages-dash>
    </ng-container>

  </div>


</div>
