<div class="row justify-content-center mb-primary py-2">
  <div class="col-4 text-center">
    <a class="nav-link active">
      <img src="../../../assets/login-signup/Logo.png" alt="MetricBeast" class="mx-auto d-block">
    </a>
  </div>
</div>


<div class="container-fluid">

  <div class="row pt-4 px-3">
    <div class="col-12 report-header-summary" id="statisticsTitle">
      <h2>{{ dashboard[reportName]?.name | capitalize }}</h2>
      <ng-container [ngSwitch]="reportName">


        <h1 *ngSwitchCase="'churn'">{{report?.summary[range].total.toFixed(1)}}%</h1>
        <h1 *ngSwitchCase="'revenuechurn'">{{report?.summary[range].total.toFixed(1)}}%</h1>
        <h1 *ngSwitchCase="'subscription'">{{report?.summary[range].total}}</h1>
        <h1 *ngSwitchDefault>{{report?.summary[range].total | mbCurrency }}</h1>


      </ng-container>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="ct-chart ct-chart-line ct-series-mb ct-grid-background"></div>
    </div>
  </div>

  <div class="row mt-5">


    <div class="col-sm-12 col-md-3">
      <app-report-kpi
      [report]="reportName"
      [total]="report?.kpi.current"
      [timeRange]="'Current'"
      [currency]="false"
      [percentage]="false"></app-report-kpi>
    </div>

    <div class="col-sm-12 col-md-3">
      <app-report-kpi
      [report]="reportName"
      [total]="report?.kpi.monthAgo.total"
      [timeRange]="'1 Month Ago'"
      [currency]="false"
      [percentage]="report?.kpi.monthAgo.percentageChange"></app-report-kpi>
    </div>

    <div class="col-sm-12 col-md-3">
      <app-report-kpi
      [report]="reportName"
      [total]="report?.kpi.threeMonthsAgo.total"
      [timeRange]="'3 Months Ago'"
      [currency]="false"
      [percentage]="report?.kpi.threeMonthsAgo.percentageChange"></app-report-kpi>
    </div>

    <div class="col-sm-12 col-md-3">
      <app-report-kpi
      [report]="reportName"
      [total]="report?.kpi.twelveMonthsAgo.total"
      [timeRange]="'12 Months Ago'"
      [currency]="false"
      [percentage]="report?.kpi.twelveMonthsAgo.percentageChange"></app-report-kpi>
    </div>
  </div>

  <hr class="mb-5">

  <div [hidden]="reportName !== 'mrr'">
      <div class="row mt-5 px-3 table-per-column justify-content-center" *ngIf="reportName === 'mrr'">
          <div class="col-2 main-col">
            <ul>
              <li class="mb-light-bg pl-2">Breakdown</li>
              <li class="bg-white pl-2">New</li>
              <li class="bg-white pl-2">Expansion</li>
              <li class="bg-white pl-2">Contraction</li>
              <li class="bg-white pl-2">Churn</li>
              <li class="mb-light-bg pl-2">Change</li>
            </ul>
          </div>
          <div class="col-10 child-col" #nav>
            <ul class="text-right" *ngFor="let elem of report?.table[range]; let i = index ">
              <li class="bg-light">
                {{ elem?.date | monthDay}}
              </li>
              <li [ngClass]="{'text-muted': elem?.new === 0, 'mb-color-primary': elem?.new > 0, 'text-danger': elem?.new < 0}">
                {{ elem?.new | dolarCurrency }}
              </li>
              <li [ngClass]="{'text-muted': elem?.expansion === 0, 'mb-color-primary': elem?.expansion > 0, 'text-danger': elem?.expansion < 0}">
                {{ elem?.expansion | dolarCurrency }}
              </li>
              <li [ngClass]="{'text-muted': elem?.contraction === 0, 'mb-color-primary': elem?.contraction > 0, 'text-danger': elem?.contraction < 0}">
                {{ elem?.contraction | dolarCurrency }}
              </li>
              <li [ngClass]="{'text-muted': elem?.churn === 0, 'mb-color-primary': elem?.churn > 0, 'text-danger': elem?.churn < 0}">
                {{ elem?.churn | dolarCurrency }}
              </li>
              <li class="bg-light" [ngClass]="{'text-muted': elem?.change === 0, 'mb-color-primary': elem?.change > 0, 'text-danger': elem?.change < 0}">
                {{ elem?.change | dolarCurrency }}
              </li>
            </ul>
          </div>
        </div>

        <hr class="my-5">

        <div class="row mb-2">
          <div class="col-12">
            <h6>MRR Breakdown</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="ct-chart ct-chart-bar ct-grid-background"></div>
          </div>
        </div>

        <hr class="mb-5">
  </div>

  <div *ngIf="reportName === 'churn' || reportName === 'revenuechurn'">

    <div class="row mb-2">
      <div class="col-12">
        <h6 *ngIf="reportName === 'churn'">Customer Retention</h6>
        <h6 *ngIf="reportName === 'revenuechurn'">Revenue Retention</h6>
      </div>
    </div>

      <div class="row pb-5">
          <div class="col-12">
            <div>
              <table class="table color-hue-table">

                <thead>
                <tr>
                  <th rowspan="2" colspan="2">Subscription</th>
                  <th colspan="14" class="text-center">Months since account creation</th>
                </tr>
                <tr class="text-center">
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let d of report?.table; let ext_index = index">
                  <td class="date">{{d?.date}}</td>
                  <td class="count" *ngIf="reportName === 'churn'; else tdCurrency">{{d?.count}}</td>
                  <ng-template #tdCurrency>
                      <td class="count">{{d?.count | dolarCurrency}}</td>
                  </ng-template>
                  <td *ngFor="let val of d?.values; let inn_index = index"
                      class="colored">
                    {{val | percentage}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <hr class="mb-5">
  </div>


  <div [hidden]="reportName === 'revenuechurn' ">
      <div class="row pb-5" [hidden]="!report?.byPlan">
          <div class="col-sm-12 col-md-6 text-center pl-5">
            <h6 class="mb-5">Plans</h6>
            <table class="table mx-auto" id="revenueTable" *ngIf="reportName === 'subscription'; else normalTable">
              <thead>
              <tr>
                <th>Plan ID</th>
                <th>Name</th>
                <th>Count</th>
                <th>Revenue</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let plan of report?.byPlan[range]">
                <td>{{ plan.planId }}</td>
                <td>{{ plan.planName }}</td>
                <td>{{ plan.count }}</td>
                <td>{{ plan.amount | dolarCurrency }}</td>
              </tr>
              </tbody>
            </table>

            <ng-template #normalTable>
                <table class="table mx-auto" id="revenueTable" *ngIf="report?.byPlan">
                    <thead>
                    <tr>
                      <th>Plan ID</th>
                      <th>Name</th>
                      <th>Revenue</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let plan of report?.byPlan[range]">
                      <td>{{ plan.planId }}</td>
                      <td class="">{{ plan.planName }}</td>
                      <td class="text-right">{{ plan.total | dolarCurrency }}</td>
                    </tr>
                    </tbody>
                  </table>
            </ng-template>
          </div>
          <div class="col-sm-12 col-md-6 text-center">
            <h6 class="mb-4">Plans Breakdown</h6>
            <div class="ct-chart ct-slice-pie ct-grid-background"></div>
          </div>
        </div>
  </div>

</div>
