.report-header-summary{
  text-align: left;
}

.report-header-summary h1, .report-header-summary h2{
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.report-header-summary h1{
  font-size: 40px;
}

.report-header-summary h2{
  font-size: 24px;
}

.report-header-controls{
  text-align: right;
}

.text-muted{
  font-size: 14px;
}

.fa-search-plus,
.fa-search-minus{
  font-size: 16px;
  padding: 4px 2px;
}

@media only screen and (max-width: 480px) {
  .report-header-summary, .report-header-controls {
    text-align: center;
  }
  
  .report-header-controls span {
    display: block;
  }
}

:host ::ng-deep .sk-circle .sk-child:before {
  background-color: #22aaa1 !important;
}

:host ::ng-deep table tbody tr td{
  white-space: nowrap;
}

:host ::ng-deep .forecast-line{
  stroke: #6BB1CE;
  fill: #6BB1CE;
  stroke-width: 1px;
  stroke-dasharray: 8px 4px;
}

:host ::ng-deep .ct-grid{
  stroke: #F2F5FF;
  stroke-width: 1px;
  stroke-dasharray: 0;
}

.color-hue-table{
  overflow-y: hidden;
}

.color-hue-table td,
.color-hue-table th{
  border: 1px solid #F2F5FF;
  font-weight: 600;
  padding: 10px 1em;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
}
.color-hue-table th{
  font-size: 1rem;
  background-color: #F8FAFF;
}

.color-hue-table td{
  font-size: 0.875rem;
}

.color-hue-table tbody .date {
  text-align: left;
  width: 50px;
  white-space: nowrap;
}

.color-hue-table tbody .count{
  background-color: rgb(248, 250, 255);
}

.color-hue-table tbody .colored{
  color: #FFFFFF;
  font-weight: 400;
}

.colored{
  background-color: rgb(19, 97, 174);
}