<div *ngIf="!confirm" class="animated fadeIn">
  <ul class="nav justify-content-between" id="addReportNavbar">
    <li class="nav-item">
      <a class="nav-link text-white cursor-pointer" id="backButton" (click)="back()">Cancel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link cursor-pointer"
         (click)="confirmAdd()"
         [ngClass]="{'text-muted': counter == 0, 'text-white': counter > 0}">Confirm & Add</a>
    </li>
  </ul>
  <div id="addReportContent">
    <div class="row text-center">

      <div class="col-12" id="addReportAbout">
        <h1 class="display-4">Add a Report</h1>
        <div>
          <p>Get the most out of MetricBeast! Select the reports you want to receive analytics on. You can always add more later!</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center grid">

      <div (click)="toggleAll()" id="selectAllBox">
        <div class="add-report-content">
          <div class="checkbox-add-report" [ngClass]="{'mb-checked': selectAll}">
            <span *ngIf="selectAll">✓</span>
          </div>
          <h5>Add All Reports - Recommended!</h5>
          <p>Get the most out of MetricBeast!</p>
        </div>
      </div>

      <div *ngFor="let report of reports; let idx = index" (click)="selectReport(idx)" [ngClass]="{'selected-box': report.checked}">
        <div class="add-report-content">
          <div class="checkbox-add-report" [ngClass]="{'mb-checked': report.checked}">
            <span *ngIf="report.checked">✓</span>
          </div>
          <h5>{{ report.title }}</h5>
          <p>{{ report.description }}</p>
        </div>
      </div>

      <!-- <div class="col-sm-12 col-md-4 mb-report-box">
         <div (click)="toggleAll()" class="select-all-box">
           <div class="add-report-content">
             <div class="checkbox-add-report" [ngClass]="{'mb-checked': selectAll}">
               <span *ngIf="selectAll">✓</span>
             </div>
             <h5>Add All Reports - Recommended!</h5>
             <p>Get the most out of MetricBeast!</p>
           </div>
         </div>
       </div>

       <div class="col-sm-12 col-md-4 mb-report-box" *ngFor="let report of reports; let idx = index">
         <div (click)="selectReport(idx)" [ngClass]="{'selected-box': report.checked}">
           <div class="add-report-content">
             <div class="checkbox-add-report" [ngClass]="{'mb-checked': report.checked}">
               <span *ngIf="report.checked">✓</span>
             </div>
             <h5>{{ report.title }}</h5>
             <p>{{ report.description }}</p>
           </div>
         </div>
       </div>-->



    </div>



  </div>
</div>

<div class="mb-container" id="hangTight"
     class="row justify-content-center align-items-center"
     *ngIf="confirm">
  <div class="col-sm-12 col-md-4 text-center">
    <h1 class="display-4">Hang Tight!</h1>
    <p>Adding reports to your dashboard...</p>
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>
