#addReportNavbar{
  height: 75px;
  background: linear-gradient(348.94deg, #136F63 0%, #22AAA1 100%);
  align-items: center;
  margin-bottom: 85px;
}

#addReportAbout > div{
  width: 610px;
  height:45px;
  margin: 0 auto;
}

#addReportContent{
  padding: 0 105px 32px;
}

#addReportContent > div:first-child{
  margin-bottom: 95px;
}


.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
}

.grid > div {
  border: 2px solid #DFE6E4;
  padding: 28px 35px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.checkbox-add-report{
  display: inline-block;
  top: 2.1rem;
  width: 16px;
  height: 16px;
  border: 2px solid #4CE0D2;
  border-radius: 2px;
}

.add-report-content h5{
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding-left: 10px;
}

#selectAllBox .add-report-content h5{
  color: #22AAA1 !important;
}

.add-report-content p{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #88908D;
  margin: 0;
  padding-left: 30px;
}

.mb-checked{
  background: #4CE0D2;
}

.selected-box{
  border-color: #4CE0D2 !important;
}

.checkbox-add-report > span{
  display: block;
  margin-top: -5px;
  color: #fff;
}

@media only screen and (max-width: 1200px) {


  .mb-report-box > div{
    padding: 15px 10px 0 20px;
  }

  .checkbox-add-report{
    top: 1.3rem;
  }

}

@media only screen and (max-width: 740px) {

  #addReportContent{
    padding: 40px 40px;
  }

  #addReportAbout > div{
    width: auto;
  }

  .mb-report-box > div{
    padding: 15px;
  }

  .checkbox-add-report{
    top: 1.3rem;
  }

}


@media only screen and (max-width: 420px) {

  #addReportContent > div:first-child{
    margin-bottom: 83px;
  }

  #addReportAbout{
    height: 250px;
  }

  .mb-report-box{
    margin-bottom: 16px;
  }

  .mb-report-box > div{
    padding: 10px;
    margin-bottom: 20px;
  }

  .checkbox-add-report{
    top: 1rem;
  }

}

@media only screen and (max-width: 320px) {
  .mb-report-box{
    margin-bottom: 40px;
  }

  .mb-report-box > div{
    padding: 5px;
    margin-bottom: 0;
  }
  .checkbox-add-report{
    top: .6rem;
  }

  .grid{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  }

  .grid > div {
    padding: 10px !important;
  }
}

/***********************************Hang Tight Loader****************************************/
#hangTight{
  height: 800px;
  width: 1440px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.08);
  margin: 0;
}

#hangTight p{
  color: #88908D;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.sk-circle .sk-child:before {
  background-color: #4CE0D2;
}


