<div class="mb-white-box animated fadeIn pt-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">

      <h2 class="mb-2"><small class="text-muted">Current Card</small></h2>

      <table class="table text-center">
        <thead>
        <tr>
          <th>Brand</th>
          <th>Last 4 digits</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let source of sources?.data">
          <td class="mb-color-primary">{{source?.brand}}</td>
          <td class="mb-color-primary">{{source?.last4}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr class="my-5">

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">

      <alert></alert>

      <h2 class="mb-2 text-center"><small class="text-muted">New payment method</small></h2>

      <form (submit)="submit($event)">
        <div class="row pb-3">
          <div class="col">
            <label for="cardNumber">Card Number</label>
            <div class="stripe-element" id="cardNumber"></div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col">
            <label for="cardCvc">CVC</label>
            <div class="stripe-element" id="cardCvc"></div>
          </div>

          <div class="col">
            <label for="cardExp">Exp. Date</label>
            <div class="stripe-element" id="cardExp"></div>
          </div>
        </div>

        <div class="row pb-5">
          <div class="col">
            <button class="btn mb-btn-rounded-primary cursor-pointer" type="submit" [disabled]="creatingToken">
              <p class="m-0" *ngIf="!creatingToken">Sumbit</p>
              <p class="m-0" *ngIf="creatingToken"><i class="fa fa-spinner fa-pulse"></i></p>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
