.mb-white-box > div{
    width: 100%;
    margin: 0;
}


table thead th{
  /*color: #666;*/
}


form{
    padding: 0 1rem;
}

form input{
    margin-bottom: 1.5rem;
}

form h4{
    color: #041B15;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-bottom: 2rem;
}

form label{
    color: #041B15;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}

.stripe-element {
  border: 2px solid #DFE6E4 !important;
  border-radius: 4px !important;
  padding: 18px 0 18px 12px !important;
  font-size: 16px;
  color: #9BA4A1;
}
