<!--This is the report header (title, summary, zoom buttons, custom dates)
----[title]        -> Report name
----[summary]      -> Total from summary node in report, depending on range (7, 14 30).
----[currentRange] -> Even the data passed to the report is already in a range, just in case send the range.
----(onZoomIn)     -> Event from the <app-report-header/>, returns a range. Must declare the onZoomIn($event) function in this report.
----(onZoomOut)    -> Event from the <app-report-header/>, returns a range. Must declare the onZoomOut($event) function in this report.
----(onCustomData) -> Event from the <app-report-header/>, returns "from" and "to".
                      Must declare the onCustomData($event) function in this report.
----(onDeactivateCustomData) -> Event from the <app-report-header/> to deactivate custom data.
                                Must declare the onDeactivateCustomData($event) function in this report.
-->

<app-report-header
  [title]="report?.$key"
  [summary]="summaryData?.total"
  [currentRange]="currentRange"
  (onZoomIn)="onZoomIn($event)"
  (onZoomOut)="onZoomOut($event)"
  (onCustomData)="onCustomData($event)"
  (onDeactivateCustomData)="onDeactivateCustomData($event)"
>
</app-report-header>


<!--Just an alert component. User AlertService to trigger alerts.-->

<div class="row justify-content-center">
  <div class="col-12">
    <alert></alert>
  </div>
</div>

<!--
----[history]    -> Array of history, already in a range.
----[reportName] -> Even the <app-history-chart/> doesn't need the report name, just in case pass it.
----[range]      -> Event the data passed is already in a range, just in case pass it.
-->

<div class="row">
  <div class="col-12">
    <app-history-chart
      [history]="historyData"
      [reportName]="report?.$key"
      [range]="daysRange"
    ></app-history-chart>
  </div>
</div>

<hr class="my-5">

<!--
----[report]     -> Report name
----[total]      -> Kpi amount depending on time range.
----[timeRange]  -> Time range of the KPI (Current, 1 Month Ago, 3 Months Ago, 12 Months Ago)
----[percentage] -> If the KPI has a percentage to show, pass it, otherwise false.
-->

<div class="row">

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData.current"
      [timeRange]="'Current'"
      [percentage]="false"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData.monthAgo.total"
      [timeRange]="'1 Month Ago'"
      [percentage]="kpiData.monthAgo.percentageChange"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData.threeMonthsAgo.total"
      [timeRange]="'3 Months Ago'"
      [percentage]="kpiData.threeMonthsAgo.percentageChange"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData.twelveMonthsAgo.total"
      [timeRange]="'12 Months Ago'"
      [percentage]="kpiData.twelveMonthsAgo.percentageChange"></app-report-kpi>
  </div>

</div>

<hr class="my-5">
