<div class="row justify-content-center mb-white-box" id="profileAccountContainer">
  <div class="col-sm-12 col-md-4">
    <form [formGroup]="form" (submit)="updateAccount($event)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName"
               placeholder="Preston"
               formControlName="name"
               class="form-control mb-input">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"
               placeholder="email@correo.com"
               formControlName="email"
               class="form-control mb-input">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"
               placeholder="Your Password"
               formControlName="password"
               class="form-control mb-input">
      </div>

      <div class="form-group">
        <button type="submit" class="btn mb-btn-rounded-primary">Save & Update</button>
      </div>
    </form>
  </div>
</div>
