<div class="row justify-content-center mb-white-box" id="profileInfoContainer">

  <div class="col-sm-12 col-md-6 text-center">
    <div class="oval-copy">
      <span class="helper"></span><img src="../../../../../assets/images/dashboard_first/profile_info/Icon/FrogAvatarOutlines@3x.png" alt="">
      <div class="capture-container cursor-pointer" [routerLink]="['/account/profile/upload']">
        <img src="" alt="">
      </div>
    </div>

    <h5 id="infoName">Preston Attebery</h5>
    <p id="infoEmail">email@correo.com</p>
    <div id="infoPassword">
      <div class="password-circle"></div>
      <div class="password-circle"></div>
      <div class="password-circle"></div>
      <div class="password-circle"></div>
    </div>

    <button class="btn mb-btn-rounded-primary" [routerLink]="['/account/profile/edit']">
      Change Email & Password
    </button>

  </div>

</div>
