
<div class="container mb-gradient-bg" id="registerContainer">

        <div class="row">
            <div class="col-12 text-center">
                    <img src="../../../assets/login-signup/Logo.png" alt="MetricBeast" class="mx-auto d-block">
                    <p id="stepTitle">{{ stepInfo?.title }}</p>
                    <span class="stepNumber">
                      {{ stepInfo?.step !== 0 && stepInfo?.step !== 5 ? stepInfo?.step + ' of ' + stepInfo?.numSteps : stepInfo?.msg}}
                    </span>
            </div>
        </div>

    <router-outlet></router-outlet>
</div>
