

#registerContainer{
  padding: 85px 105px 0;
  height: auto !important;
  min-height: 100%;
}

#registerContainer > .row {
  margin-bottom: 60px;
}

#stepTitle{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 56px;
  letter-spacing: -2px;
  padding: 10px 0 8px;
  font-weight: 300;
}

@media only screen and (max-width: 840px) {
  #stepTitle{
    font-size: 28px;
    letter-spacing: 0px;
    font-weight: 300;
  }

  #registerContainer{
    padding: 35px 0 0px;
  }
}

.stepNumber{
  margin: 0;
  opacity: 0.64;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
