<div class="row justify-content-center mb-white-box pb-5 animated fadeIn" id="profileAccountContainer">
  <div class="col-sm-12 col-md-4">

    <alert></alert>

    <form [formGroup]="form" (submit)="updateAccount($event)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName"
               placeholder="Preston"
               formControlName="name"
               class="form-control mb-input">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"
               placeholder="email@correo.com"
               formControlName="email"
               class="form-control mb-input">
      </div>

      <div class="form-group animated" [hidden]="form?.controls.newPassword.pristine && form?.controls.email.pristine"
           [ngClass]="{
           'fadeIn': !form?.controls.newPassword.pristine || !form?.controls.email.pristine,
           'fadeOut': form?.controls.newPassword.pristine && form?.controls.email.pristine
           }">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="password"
               placeholder="Your Password"
               formControlName="currentPassword"
               class="form-control mb-input">
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="password"
               placeholder="New Password"
               formControlName="newPassword"
               class="form-control mb-input">
      </div>


      <div class="form-group">
        <button type="submit" class="btn mb-btn-rounded-primary cursor-pointer">
          <span *ngIf="!loading">Save & Update</span>
          <i class="fa fa-refresh fa-spin" *ngIf="loading"></i>
        </button>
        <div class="row justify-content-center">
          <div class="col-10">
            <button type="button" class="btn mb-btn-rounded-primary bg-secondary cursor-pointer" (click)="back()">Back</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

