<div class="mb-white-box animated fadeIn px-5">

  <div class="row text-center justify-content-center">
    <div class="col-6">
      <alert></alert>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-deck">

        <div class="card py-4 text-center">
          <img src="../../../../../assets/images/auth/RegisterGateway/Logo/Stripe.svg" alt="Stripe">
          <div class="card-body"></div>
          <div class="card-footer bg-transparent border-0">
            <button class="btn btn-lg mb-primary cursor-pointer" (click)="connectStripe()">Add</button>
          </div>
        </div>

        <div class="card py-4 text-center">
          <img src="../../../../../assets/images/auth/RegisterGateway/Logo/PayPal.svg" alt="PayPal">
          <div class="card-body"></div>
          <div class="card-footer bg-transparent border-0">
            <button class="btn btn-lg mb-primary cursor-pointer" (click)="connectPaypal()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
