.card{
  border: none;
}

/*.card.cursor-pointer:hover{
  -webkit-box-shadow: 0px 0px 20px 0px rgba(194,194,194,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(194,194,194,1);
  box-shadow: 0px 0px 20px 0px rgba(194,194,194,1);
}*/
