



#profileInfoContainer > div{
  max-width: 400px;
  height: 350px;
  padding: 0;
}

.avatar img{
  position: relative;
  /*height: 140px;
  width: 140px;*/
  border-radius: 50%;
  background-color: #4CE0D2;
  margin: 0 auto;
  margin-bottom: 43px;
  white-space: nowrap;
}

/*.image-container{
  position: relative;
  height: 140px;
  width: 140px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #4CE0D2;
  margin: 0 auto;
  margin-bottom: 43px;
  white-space: nowrap;
}*/

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;

}

/*.image-container img{
  vertical-align: middle;
  max-height: 140px;
  max-width: 140px;
}*/
.capture-container{
  position: absolute;
  bottom: -1.2rem;
  left: 2.9rem;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #22AAA1;
}


#infoName{
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: normal;
}

#infoEmail{
  color: #88908D;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.password-circle{
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #041B15;
}

#profileInfoContainer button{
  position: relative;
  display: block;
}
