<div class="row justify-content-center mb-white-box animated fadeIn" id="profileInfoContainer">

  <div class="col-sm-12 col-md-6 text-center">
    <div class="oval-copy" *ngIf="!avatarUrl">
      <span class="helper"></span>
      <img src="../../../../../assets/images/dashboard_first/profile_info/Icon/FrogAvatarOutlines@3x.png" [alt]="user?.name">
      <!--<div class="capture-container">
        <img src="" alt="">
      </div>-->
    </div>

    <div class="avatar animated fadeIn" *ngIf="avatarUrl">
      <img [src]="avatarUrl" [alt]="user?.name">
    </div>

    <h5 id="infoName">{{user?.name}}</h5>
    <p id="infoEmail">{{user?.email}}</p>
    <div id="infoPassword">
      <div class="password-circle"></div>
      <div class="password-circle"></div>
      <div class="password-circle"></div>
      <div class="password-circle"></div>
      <div class="password-circle"></div>
      <div class="password-circle"></div>
      <div class="password-circle"></div>
      <div class="password-circle"></div>
    </div>

    <button class="btn mb-btn-rounded-primary cursor-pointer" [routerLink]="['update']">
      Change Email & Password
    </button>

  </div>

</div>
