#loginContainer{
  position: relative;
  height: auto !important;
  min-height: 100%;
}

.alert{
  position: fixed;
  display: block;
  top: 1rem;
  left: 50%;
  margin: 0 auto;
  -ms-transform: translate(-50%, 0); /* IE 9 */
  -webkit-transform: translate(-50%, 0); /* Safari */
  transform: translate(-50%, 0);
}

.alert-danger{
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}

.mb-container{
  max-height: 900px !important;
}

.btn-login-metricB{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08) !important;
    padding: 15px !important;
    border-radius: 190px !important;
  }


  .bg-primary-metricB{
    background-color: #22AAA1;
    color: #fff;
    font-weight: bold !important;
  }

  .bg-white-metricB{
    background-color: #fff;
    color: #22AAA1;
    font-weight: bold !important;
  }

  #logo{
    padding: 85px 0 55px 0;
  }

  .form-signin{
    padding: 10px;
    margin: 0 auto;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 18px;
    font-size: 16px;
    border: 1px solid #ffffff;
  }

  .form-signin .text-white{
    margin-bottom: 0;
  }

  .form-signin .form-group{
    margin-bottom: 2rem;
  }

  .google-login{
    padding: 30px 0;
  }

  .google-login button::after{
    content: url("../../../../assets/images/auth/login/Icon/Google.png");
    vertical-align: -20%;
    margin-left: .5rem;
  }

  .footer-login{
    /*position: absolute;*/
    bottom: 0;
    background-color: #fff;
    padding: 40px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  #createAccountLink{
    font-size: 20px;
    font-weight: bold;
    color: #22AAA1;
    text-decoration: none;
  }

@media only screen and (max-width: 1020px){
  .form-group{
    padding: 0;
  }

  .form-signin{
    padding: 0;
  }
}

@media only screen and(max-width: 380px){
  .footer-login{
    position: relative !important;
  }
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #FFFFFF;
  background: transparent;
  border-radius: 2px;
  /*box-shadow: inset 0 1px 3px rgba(255,255,255,1);*/
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #ffffff;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #eee;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #EEEEEE !important;
}

