<div class="container-fluid mb-gradient-bg" id="loginContainer">

  <div class="row justify-content-center">
    <div class="col-sm-6" id="logo">
      <!-- <a routerLink=[''] id="login-logo"></a> -->
      <img src="../../../../assets/login-signup/Logo.png" alt="MetricBeast" class="mx-auto d-block">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-4">
      <ngb-alert [type]="alert.type" *ngIf="alert.show" (close)="alert.show = false">{{alert.message}}</ngb-alert>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <form (submit)="loginWithEmail($event)" [formGroup]="formLogin" class="form-signin" novalidate>

        <div class="form-group">
          <label for="email" class="text-white">Email</label>
          <input type="email" placeholder="you@email.com"
                 name="email" formControlName="email"
                 id="email" class="form-control mb-input" [readonly]="loading">
        </div>

        <div class="form-group">
          <label for="password" class="text-white">Password</label>
          <label class="text-white float-right">Forgot password?</label>
          <input type="password" placeholder="Your password"
                 name="password" formControlName="password"
                 id="password" class="form-control mb-input" [readonly]="loading">
        </div>

        <div class="form-group">
          <button class="btn btn-block btn-login-metricB bg-primary-metricB text-white" *ngIf="!loading; else spinner">Sign in</button>
          <ng-template #spinner>
            <app-default-spinner></app-default-spinner>
          </ng-template>
          <!--<div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
            </label>
          </div>-->
        </div>

        <div class="form-group">
          <input type="checkbox" (click)="rememberMe()" [checked]="remember">
          <label (click)="rememberMe()">Remember Me</label>
        </div>


      </form>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center align-items-center google-login">
    <div class="col-sm-12 col-md-4">
      <div class="form-signin">
        <div class="form-group">
          <button class="btn btn-block btn-login-metricB bg-white-metricB" (click)="loginWithGoogle()">Sign in with google</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 text-center footer-login">
      <h5>New around here?</h5>
      <a href="#" id="createAccountLink" [routerLink]="['/register']">Create an Account</a>
    </div>
  </div>

</div>
