<div class="card mb-3 text-left">

  <div class="card-body">
    <p class="text-muted mb-0">{{ timeRange }}</p>

    <ng-container [ngSwitch]="report">
      <h4 class="card-title text-dark mr-2" *ngSwitchCase="'churn'">{{ total ? total.toFixed(1) : '0'}}%</h4>
      <h4 class="card-title text-dark mr-2" *ngSwitchCase="'revenuechurn'">{{ total ? total.toFixed(1) : '0'}}%</h4>
      <h4 class="card-title text-dark mr-2" *ngSwitchCase="'subscription_new'">{{ total ? total : '0'}}</h4>
      <h4 class="card-title text-dark mr-2" *ngSwitchCase="'subscription_upgrade'">{{ total ? total : '0'}}</h4>
      <h4 class="card-title text-dark mr-2" *ngSwitchCase="'subscription_downgrade'">{{ total ? total : '0'}}</h4>
      <h4 class="card-title text-dark mr-2" *ngSwitchCase="'subscription_cancel'">{{ total ? total : '0'}}</h4>
      <h4 class="card-title text-dark mr-2" *ngSwitchCase="'transaction_fail'">{{ total ? total : '0'}}</h4>
      <ng-container *ngSwitchDefault>
        <h4 class="card-title text-dark mr-2" *ngIf="currency; else noCurrency">{{total ? (total | mbCurrency) : '0'}}</h4>

        <ng-template #noCurrency>
          <h4 class="card-title text-dark mr-2">{{total ? (total | mbCurrency) : '0'}}</h4>
        </ng-template>
      </ng-container>

    </ng-container>

    <small *ngIf="timeRange !== 'Current'"
      [ngClass]="{
      'text-success': percentage > 0 || !(percentage),
      'text-danger': percentage < 0
      }">

      <i
        class="fa"
        [ngClass]="{
        'fa-arrow-up': percentage > 0 || !(percentage),
        'fa-arrow-down': percentage < 0
        }"></i>
      {{ percentage ? (percentage | percentage) : '0' }}

    </small>
  </div>

</div>
