.card-body{
  padding: 0 !important;
  text-align: center;
}

.card-body h4{
  margin: 0;
}

.card-body small{
  white-space: nowrap;
}

.card{
  border: none;
  background-color: transparent;
}

.card-title, .card-text{
  display: inline-block;
}

.card-text{
  line-height: 2px;
}

