<div class="row">
  <div class="col-12">
    <div class="jumbotron mb-primary text-white text-center">
      <h1 class="display-3">Welcome!</h1>
      <p class="lead">In a moment you will be redirected to Metricbeast. We are setting up your account!</p>
      <hr class="my-4">
      <app-three-dots-spinner></app-three-dots-spinner>
    </div>
  </div>
</div>
