<app-report-header
  [title]="report?.$key"
  [summary]="summaryData?.total"
  [currentRange]="currentRange"
  (onZoomIn)="onZoomIn($event)"
  (onZoomOut)="onZoomOut($event)"
  (onCustomData)="onCustomData($event)"
  (onDeactivateCustomData)="onDeactivateCustomData($event)"
>
</app-report-header>

<div class="row justify-content-center">
  <div class="col-12">
    <alert></alert>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-history-chart
      [history]="historyData"
      [reportName]="report?.$key"
      [range]="daysRange"
    ></app-history-chart>
  </div>
</div>

<hr class="my-5">


<div class="row">

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData.current"
      [timeRange]="'Current'"
      [percentage]="false"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData.monthAgo.total"
      [timeRange]="'1 Month Ago'"
      [percentage]="kpiData.monthAgo.percentageChange"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData.threeMonthsAgo.total"
      [timeRange]="'3 Months Ago'"
      [percentage]="kpiData.threeMonthsAgo.percentageChange"></app-report-kpi>
  </div>

  <div class="col-sm-12 col-md-3">
    <app-report-kpi
      [report]="report?.$key"
      [total]="kpiData.twelveMonthsAgo.total"
      [timeRange]="'12 Months Ago'"
      [percentage]="kpiData.twelveMonthsAgo.percentageChange"></app-report-kpi>
  </div>

</div>

<hr class="mb-5">

<div class="row">
  <div class="col-12">
    <app-retention-table
      [table]="tableData"
      [reportName]="report?.$key"
      [range]="daysRange"
    ></app-retention-table>
  </div>
</div>

<hr class="my-5">

<div class="row">
  <div class="col-12">
    <app-plans-chart
      [byPlan]="planData"
      [reportName]="report?.$key"
      [range]="daysRange"
    ></app-plans-chart>
  </div>
</div>
