.row{
  width: 100%;
  margin: 0;
}

.color-hue-table{
  overflow-y: hidden;
}

.color-hue-table td,
.color-hue-table th{
  border: 1px solid #F2F5FF;
  font-weight: 600;
  padding: 10px 1em;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
}
.color-hue-table th{
  font-size: 1rem;
  background-color: #F8FAFF;
}

.color-hue-table td{
  font-size: 0.875rem;
}

.color-hue-table tbody .date {
  text-align: left;
  width: 50px;
  white-space: nowrap;
}

.color-hue-table tbody .count{
  background-color: rgb(248, 250, 255);
}

.color-hue-table tbody .colored{
  color: #FFFFFF;
  font-weight: 400;
}

.colored{
  background-color: rgb(19, 97, 174);
}


/**+++++++++++++HOVER++++++++++++++++**/

.hover-bg{
  background-color: rgba(0, 0, 0, 0.2);
}
