<div class="mb-white-box animated fadeIn">

  <div class="row justify-content-center">
    <div class="col-sm-12-col-md-10">
      <alert></alert>
    </div>
  </div>

  <div class="row animated fadeIn" *ngIf="gateways.length <= 0">
    <div class="col-12">
      <div class="jumbotron bg-white text-center">
        <h1 class="display-4">Nothing to show</h1>
        <p class="lead">You don't have any gateway deactivated <i class="fa fa-exclamation mb-color-primary"></i></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center  ">
      <div class="card-deck">
        <div class="card pt-4" *ngFor="let gtw of gateways">
          <img src="../../../../../assets/images/auth/RegisterGateway/Logo/PayPal.svg" alt="PayPal" *ngIf="gtw?.name === 'Paypal'">
          <img src="../../../../../assets/images/auth/RegisterGateway/Logo/Stripe.svg" alt="Stripe" *ngIf="gtw?.name === 'Stripe'">
          <div class="card-body">
            <!-- <button class="btn btn-primary mb-primary cursor-pointer" (click)="activateGateway(gtw?.$key)">Activate Gateway</button> -->
          </div>
          <div class="card-footer bg-transparent border-0">
            <i class="fa fa-plus-square fa-2x mb-color-primary cursor-pointer" (click)="activateGateway(gtw?.$key)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
