#registerProfileAbout{
    position: relative;
    display: block;
    height: 160px;
    width: 378px;
    color: #88908D;
    margin: 0 auto;
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#profileForm{
    padding-right: 89px;
}

#profileForm > .form-group > input{
    border: 2px solid #DFE6E4;
    border-radius: 4px;
    padding: 18px 0 18px 12px;
}

#profileForm > .form-group > label{
    color: #041B15;
    font-family: 'Roboto';
    font-size: 16px;
}

@media only screen and (max-width: 840px) {
    #profileForm{
        padding: 0 25px;
    }
}

#profileForm > .form-group > button{
    width: 100%;
    color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    padding: 17px 0;
    margin-top: 35px;
}
