<div class="row justify-content-center mb-white-box" id="registerProfileContainer">
  <div class="col-6 hide-column text-center">
    <div class="oval-copy">
      <span class="helper"></span><img src="../../../../assets/images/auth/RegisterProfile/Icon/ID.svg" alt="">
    </div>

    <div id="registerProfileAbout">
      You’ll use this information to sign in to MetricBeast from here on out. You can always change this information later!
    </div>

  </div>
  <div class="col-sm-12 col-md-6">

    <alert></alert>

    <form [formGroup]="form" id="profileForm" (submit)="nextStep($event)">

      <ngb-alert *ngIf="showAlert" (close)="showAlert = !showAlert" type="danger">It Worked!</ngb-alert>

      <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" placeholder="i.e. Mark" id="name" class="form-control"
               formControlName="firstName">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="you@email.com" id="email" class="form-control"
               formControlName="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="8-digit password" id="password" class="form-control"
               formControlName="password">
      </div>

      <div class="form-group">
        <button type="submit" class="btn mb-btn-rounded-primary"
                [disabled]="!this.form.valid">Continue</button>
      </div>

    </form>

  </div>
</div>
