.row{
  width: 100%;
  margin: 0;
}

.nav{
  padding: 1rem 0;
}

#reportsMenu{
  background: linear-gradient(348.94deg, #136F63 0%, #22AAA1 100%);
}

#reportsMenu .nav-item > a{
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#reportsHeader{
  /*margin-bottom: 2.5rem;*/
}

#reportsHeader .col-12{
  position: relative;
  display: block;
}

#reportsHeader .col-12 h2{
  display: inline-block;
}

#reportsHeader .col-12 button{
  position: absolute;
  display: inline-block;
  right: 1rem;
  top: 2rem;
}

#reportsHeader h2{
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin: 1.5rem 0 1rem;
}

#reportsHeader a {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.dropdown a{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-reports{
  position: absolute;
  width: 235px;
  background-color: #FFFFFF;
  padding: 21px 48px 42px;
  right: 50%;
  top:-110%;
  z-index: 1;
  -webkit-transform: translate(117.5px, 0);
  -moz-transform: translate(117.5px, 0);
  -ms-transform: translate(117.5px, 0);
  -o-transform: translate(117.5px, 0);
  transform: translate(117.5px, 0);
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

.dropdown-reports a{
  display: block;
}

.dropdown-reports .mb-4{
  color: #041B15 !important;
}

.dropdown-reports .mb-3{
  color: #22aaa1 !important;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 24px;
  padding: 0 24px;
  /*overflow: auto;*/
}

.grid > div {
  min-height: 140px;
  position: relative;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left-side{
  display: inline-block;
  position: absolute;
  left:0;
  padding-left: 1.5rem;
  min-width: 270px;
  max-width: 270px;
}

.left-side p{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #687672;
  margin-top: 2rem;
  margin-bottom: 0;
}

.left-side h2{
  font-size: 30px;
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.right-side{
  display: table;
  position: absolute;
  right: 0;
  min-height: 140px;
  min-width: 125px;
  padding: 0 10px;
}

.bg-positive-balance{
  background: linear-gradient(180deg, #C9F8F0 0%, #FFFFFF 90%);
  color: #22AAA1;
}


.right-side div{
  display: table-cell;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  text-align: center;
}

.bg-negative-balance{
  transform: rotate(180deg);
  background: linear-gradient(180deg, #FFE1E4 0%, #FFFFFF 100%);
  color: #FA8D8D;
}

.bg-negative-balance > div{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 32%;
}

.btn-expand{
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  color: #FFFFFF;
}

:host ::ng-deep .spinner > div{
  background-color: #FFFFFF !important;
}

.fa-caret-up, .fa-caret-down{
  font-size: 20px;
}

.cards-container{
  overflow-y: scroll;
}

@media only screen and (max-width: 1920px){
  .cards-container{
    height: 968px;
  }
}

@media only screen and (max-width: 1366px){
  .cards-container{
    height: 656px;
  }
}

@media only screen and (max-width: 1280px){
  .cards-container{
    height: 912px;
  }
}

@media only screen and (max-width: 1024px){
  .cards-container{
    height: 656px;
  }
}

@media only screen and (max-width: 835px){
  #reportsHeader .col-12 button{
    display: none;
  }
}

@media only screen and (max-width: 420px){
  .left-side h2{
    font-size: 22px;
  }

  .right-side div{
    font-size: 20px;
  }
}

@media only screen and (max-width: 340px){
  .grid{
    padding: 0 10px !important;
  }
}

