<div class="row" id="reportsMenu">
  <div class="col-12">
    <!--<ul class="nav justify-content-between">
      <li class="nav-item">
        <a class="nav-link add-button" href="#"><i class="fa fa-plus mr-1"></i>  Add a Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-search mr-2"></i>Find a Report</a>
      </li>
    </ul>-->
  </div>
</div>

<div class="row" id="reportsHeader">
  <div class="col-12 text-white text-center">
    <h2>Account Activity</h2>
    <button class="btn-expand float-right" (click)="changeSize()">
      <i class="fa fa-expand" *ngIf="toggleSize"></i>
      <i class="fa fa-compress" *ngIf="!toggleSize"></i>
    </button>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12 text-center text-white">
    <div class="dropdown">
      <a id="dropdownMenuButton" (click)="showDropdown = !showDropdown">
        {{ selected_range.name }} <i class="fa fa-sort"></i>
      </a>

      <div class="dropdown-reports border-radius animated fadeIn" *ngIf="showDropdown">
        <a href="#" class="mb-4" (click)="showDropdown = !showDropdown">
          {{ selected_range.name }} <i class="fa fa-sort"></i>
        </a>

        <ng-container *ngFor="let range of time_ranges">
          <ng-container *ngIf="range.id != selected_range.id">
            <a href="#" class="mb-3" (click)="changeRange($event, range)">
              {{ range.name }}
            </a>
          </ng-container>
        </ng-container>
      </div>

    </div>
  </div>
</div>


<div class="row" *ngIf="loadedReports && reports.length === 0">
  <div class="col-12 text-center">
    <div class="jumbotron bg-transparent text-white">
      <h1 class="display-4">Nothing here yet</h1>
    </div>
  </div>
</div>

<div *ngIf="!loadedReports">
  <app-three-dots-spinner></app-three-dots-spinner>
</div>

<div class="cards-container animated fadeIn" *ngIf="reports.length > 0">
  <div class="row grid" [dragula]='"bag-one"' [dragulaModel]="reports" *ngIf="reports">

    <div *ngFor="let report of reports" (click)="toggleShow(report.key)" [id]="report.key">

      <ng-container [ngSwitch]="report?.key">

        <div class="left-side" *ngSwitchCase="'churn'">
          <p>{{ labels[report.key].abbreviation ? labels[report.key].abbreviation :  labels[report.key].name | capitalize }}</p>
          <h2>{{ report.total.toFixed(1)}}%</h2>
        </div>

        <div class="left-side" *ngSwitchCase="'revenuechurn'">
          <p>{{ labels[report.key].abbreviation ? labels[report.key].abbreviation :  labels[report.key].name | capitalize }}</p>
          <h2>{{ report.total.toFixed(1)}}%</h2>
        </div>

        <div class="left-side" *ngSwitchCase="'subscription_new'">
          <p>{{ labels[report.key].abbreviation ? labels[report.key].abbreviation :  labels[report.key].name | capitalize }}</p>
          <h2>{{ report.total }}</h2>
        </div>
        <div class="left-side" *ngSwitchCase="'subscription_upgrade'">
          <p>{{ labels[report.key].abbreviation ? labels[report.key].abbreviation :  labels[report.key].name | capitalize }}</p>
          <h2>{{ report.total }}</h2>
        </div>
        <div class="left-side" *ngSwitchCase="'subscription_downgrade'">
          <p>{{ labels[report.key].abbreviation ? labels[report.key].abbreviation :  labels[report.key].name | capitalize }}</p>
          <h2>{{ report.total }}</h2>
        </div>
        <div class="left-side" *ngSwitchCase="'subscription_cancel'">
          <p>{{ labels[report.key].abbreviation ? labels[report.key].abbreviation :  labels[report.key].name | capitalize }}</p>
          <h2>{{ report.total }}</h2>
        </div>
        <div class="left-side" *ngSwitchCase="'transaction_fail'">
          <p>{{ labels[report.key].abbreviation ? labels[report.key].abbreviation :  labels[report.key].name | capitalize }}</p>
          <h2>{{ report.count }}</h2>
        </div>
        <div class="left-side" *ngSwitchDefault>
          <p>{{ labels[report.key].abbreviation ? labels[report.key].abbreviation :  labels[report.key].name | capitalize }}</p>
          <h2>{{ report.total | mbCurrency }}</h2>
        </div>

      </ng-container>

      <div class="right-side"
           [ngClass]="{
         'bg-positive-balance': report?.percentageChange > 0 || !(report?.percentageChange),
         'bg-negative-balance': report?.percentageChange < 0
         }">
        <div>
          <i class="fa" *ngIf="report.percentageChange" [ngClass]="{
          'fa-arrow-up': report?.percentageChange > 0,
          'fa-arrow-down': report?.percentageChange < 0
        }"></i>
          {{report?.percentageChange | percentage}}
        </div>
      </div>
    </div>

  </div>
</div>

