<div class="row justify-content-center mb-white-box" id="registerProfileContainer">
  <div class="col-6 hide-column text-center">
    <div class="oval-copy">
      <span class="helper"></span><img src="../../../../assets/images/auth/RegisterPlan/Icon/Ribbon.svg" alt="">
    </div>

    <div id="registerPlanAbout">
      Get the most out of your MetricBeast account! Start with a Basic account, or experience all the features MetricBeast has to offer with a Pro account!
    </div>

  </div>
  <div class="col-sm-12 col-md-6">

    <div id="switchContainer">
      <button class="btn btn-switch-left"
              [ngClass]="{'active-plan': selectedPlan?.interval === 'month'}"
              (click)="changePlan('month')">
        Monthly
      </button>
      <button class="btn btn-switch-right"
              [ngClass]="{'active-plan': selectedPlan?.interval === 'year'}"
              (click)="changePlan('year')">
        Yearly
      </button>
    </div>

    <form [formGroup]="form" novalidate *ngIf="selectedPlan">
      <table  class="table table-responsive" id="planTable">
        <tr id="tableHeader">
          <td></td>
            <td *ngFor="let plan of showPlans">
              <label for="{{'plan'+plan.id }}">
                <span class="tableTitle">{{ plan?.name }}</span>
                <span>{{ plan?.amount | cents }}</span>
              </label>
              <input type="radio" id="{{'plan'+plan.id }}"
                     formControlName="plan"
                     [value]="plan.id"
                     (change)="onSelectionPlan(plan)">
            </td>
        </tr>
        <tr>
          <td>
            <span>Access to all reports</span>
          </td>
          <td>

          </td>
          <td>
            <span class="icon-check"></span>
          </td>
          <td>
            <span class="icon-check"></span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Multiple accounts</span>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            <span class="icon-check"></span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Advanced metrics</span>
          </td>
          <td>
            <span class="icon-check"></span>
          </td>
          <td>
            <span class="icon-check"></span>
          </td>
          <td>
            <span class="icon-check"></span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Real-time Event Feed</span>
          </td>
          <td>

          </td>
          <td>
            <span class="icon-check"></span>
          </td>
          <td>
            <span class="icon-check"></span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Mult. Payment <span>Gateway Options</span></span>
          </td>
          <td>
            <span class="icon-check"></span>
          </td>
          <td>
            <span class="icon-check"></span>
          </td>
          <td>
            <span class="icon-check"></span>
          </td>
        </tr>
      </table>
    </form>


    <div class="form-group" id="btnContainer">
      <button class="btn mb-btn-rounded-primary"
              (click)="nextStep()" [disabled]="!this.form.valid">
        Continue
      </button>
    </div>

  </div>
</div>
