#registerPlanAbout{
    position: relative;
    display: block;
    width: 380px;
    height: 200px;
    color: #88908D;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#switchContainer{
  position: relative;
  width: 325px;
  margin: 0 auto 40px;
}

.btn-switch-right{
  border-top-right-radius: 190px;
  border-bottom-right-radius: 190px;
  margin-left: -2px;
}

.btn-switch-left{
  border-top-left-radius: 190px;
  border-bottom-left-radius: 190px;
  margin-right: -2px;
}

.btn-switch-left, .btn-switch-right{
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #22AAA1;
  height: 55px;
  width: 160px;
  color: #22AAA1;
  background-color: #ffffff;
  outline: none;
}

.active-plan{
  background-color: #22AAA1;
  color: #ffffff;
}

table tr:first-child{
    /* box-shadow: inset 0 -2px 0 0 #DFE6E4; */
    border-bottom: 2px solid #DFE6E4;
}

table tr:first-child td label{
    display: block;
}

table tr:first-child td span:first-child{
    display: block;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 24px;
    color: #041B15;
}

table tr:first-child td span:nth-child(2){
    color: #22AAA1;
}

tr td:first-child{
    width: 170px;
}

tr td:first-child span{
    color: #88908D;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
}

tr td{
    border-top: none;
    border-right: 2px solid #DFE6E4;
    /* box-shadow: inset 10px 0 2px -2px #DFE6E4; */
    padding: 10px 0;
}

table tr:nth-child(2) td{
    padding-top: 25px;
}

/* tr:not(:first-child){
    width: 105px;
    max-width: 105px;
} */

tr td:last-child{
    border: none;
}

tr > td > span > span{
    display: block;
}

#tableHeader{
    text-align: center;
}

#tableHeader td:not(:first-child){
    width: 65px;
    max-width: 105px;
}

.icon-check{
    position: relative;
    display: block;
    width: 16px !important;
    height: 13px !important;
    background-image: url(../../../../assets/images/icon_check.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}

#btnContainer button{
    width: 100%;
    color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    padding: 17px 0;
    margin-top: 35px;
}
