a{
  text-decoration: none;
}

.oval-copy{
  margin: 0 2em 0 0;
  display: inline-block;
  vertical-align: middle;
}
.mb-white-box{
  padding-left: 105px;
  padding-right: 105px;
}

.col-sm-12{
  margin-bottom: 7rem;
}

.about{
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
  text-align: left;
  width: 60%;
}

.about h4{
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.about p{
  color: #88908D;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: justify;
}

@media only screen and (max-width: 840px){
  .mb-white-box{
    padding-left: 0;
    padding-right: 0;
  }
}
