<div class="row mb-white-box animated fadeIn">
  <div class="col-sm-12 col-md-6 zoomIn-div text-center cursor-pointer">
    <a class="cursor-pointer" [routerLink]="['profile']">
      <div class="oval-copy">
        <span class="helper"></span><img src="../../../../../assets/images/account/2.0.0%20My%20Account/Icon/Frog.png" alt="">
      </div>
      <div class="about">
        <h4>Profile Information</h4>
        <p>Manage your MetricBeast profile information.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-6 zoomIn-div text-center cursor-pointer">
    <a class="cursor-pointer" [routerLink]="['billing']">
      <div class="oval-copy">
        <span class="helper"></span><img src="../../../../../assets/images/account/2.0.0%20My%20Account/Icon/Trophy.png" alt="">
      </div>
      <div class="about">
        <h4>Plan Information</h4>
        <p>Find information about your current plan, upgrade to a different plan, or cancel your account.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-6 zoomIn-div text-center cursor-pointer">
    <a class="cursor-pointer" [routerLink]="['billing']">
      <div class="oval-copy">
        <span class="helper"></span><img src="../../../../../assets/images/account/2.0.0%20My%20Account/Icon/Money.png" alt="">
      </div>
      <div class="about">
        <h4>Billing Information</h4>
        <p>Manage your payment method and view your billing history.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-6 zoomIn-div text-center cursor-pointer">
    <a class="cursor-pointer" [routerLink]="['gateway']">
      <div class="oval-copy">
        <span class="helper"></span><img src="../../../../../assets/images/account/2.0.0%20My%20Account/Icon/Frog.png" alt="">
      </div>
      <div class="about">
        <h4>Payment Gateway</h4>
        <p>Manage your payment gateway settings.</p>
      </div>
    </a>
  </div>
</div>
