
html, body{
  /*height: 100%;*/
}

.row{
  width: 100%;
  margin: 0;
}

/********************************* Helpers *************************************************/
.border-bottom-radius {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.border-top-radius {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

.border-right-radius {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.border-left-radius {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.border-radius {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

.overflow-auto{
  overflow: auto;
}

.overflow-hidden{
  overflow: hidden;
}

.caret-container{
  display: inline-block;
  margin-left: 5px;
}

.caret-container *{
  display: block;
  font-size: 12px;
  line-height: 0;
}

.caret-container .fa-caret-up{
  line-height: 11px;
}

.h-display{
  font-weight: 300;
  line-height: 1.2;
}
/************************* Colors (Normally backgrounds)************************************/
.mb-gradient-bg {
  background: linear-gradient(219.21deg, #2EA699 0%, #44D0C2 100%); }

.mb-primary {
  background-color: #22AAA1; }

div.mb-primary{
  border-color: #22aaa1;
}

button.mb-primary, a.mb-primary{
  border-color: #22aaa1;
}

button.mb-primary:hover, a.mb-primary:hover{
  background-color: #099188 !important;
  border-color: #099188 !important;
}

button.mb-primary:active, a.mb-primary:active{
  background-color: #00776E !important;
  border-color: #00776E !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.mb-white {
  background-color: #FFFFFF; }

.mb-color-primary {
  color: #22AAA1; }

.mb-color-white {
  color: #FFFFFF; }

.mb-light-bg{
  background-color: #F7F9FA;
}

/*Colors for Dropdown item*/
.dropdown-item:focus, .dropdown-item:active{
  background-color: #22AAA1;
  color: #FFFFFF !important;
}

/************************ Boxes (kinda containers)*******************/
.mb-container {
  overflow: hidden !important;
  /*max-width: 1440px !important;
  max-height: 800px !important;*/
  padding: 0 105px; }

.mb-white-box {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.19);
          box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.19);
  padding: 80px 0 0;
  width: 100%;
  margin: 0 auto;
  min-height: 600px; }

.mb-row-title {
  margin: 0 0 3rem; }

.mb-row-title > div {
  margin-top: 60px; }

.mb-row-title > div > h1 {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: Roboto, sans-serif; }

.mb-row-title > div > p {
  opacity: 0.64;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold; }

.oval-copy {
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #4CE0D2;
  margin: 0 auto;
  margin-bottom: 43px;
  white-space: nowrap; }

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.oval-copy img {
  vertical-align: middle;
  max-height: 140px;
  max-width: 140px; }

.mb-progress {
  width: 100%;
  height: 16px;
  border-radius: 190px;
  background-color: #DBF8F6;
  margin-top: 2rem; }

.mb-progress-bar {
  width: 0%;
  height: 16px;
  background-color: #4CE0D2;
  border-radius: 190px; }

/***************************Text Color******************************/
.text-color-white {
  color: #FFFFFF; }

/**********************Buttons**************************************/
.mb-btn-rounded-primary {
  border-radius: 190px !important;
  width: 100%;
  background-color: #22AAA1;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 17px 0 !important;
  margin-top: 35px; }

button.mb-btn-rounded-primary:active, button.mb-btn-rounded-primary:hover, a.mb-btn-rounded-primary:active, a.mb-btn-rounded-primary:hover{
  text-decoration: none;
  color: #FFFFFF;
}

.mb-btn-rounded-primary:hover{
  background-color: #099188;
  border-color: #099188;
}

.cursor-pointer {
  cursor: pointer; }

button.mb-primary{
  border-color: #22aaa1;
  color: #FFFFFF;
}

/**************************Form controls**************************+*/
.mb-input {
  border: 2px solid #DFE6E4 !important;
  border-radius: 4px !important;
  padding: 18px 0 18px 12px !important;
  font-size: 16px;
  /*color: #9BA4A1;*/
}

/*.mb-input-password{
  padding: 0; !important;
  font-size: 32px !important;
}*/
.mb-select {
  border: 2px solid #DFE6E4 !important;
  border-radius: 4px !important;
  height: 60px !important; }

.mb-input-invalid {
  border: 2px solid #DC3545 !important; }

/**/
/* Bootstrap Classes */
.form-group {
  padding: 0 15px; }

@media only screen and (max-width: 840px) {
  .hide-column {
    display: none; } }
/*Animations*/
.spinner {
  margin: 40px auto 0;
  width: 70px;
  text-align: center; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.sk-circle {
  margin: 40px auto;
  width: 60px;
  height: 60px;
  position: relative; }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=app.css.map */

.chartist-tooltip {
  background: #337fcc;
  color: white;
  border-color: #337fcc;
}

.chartist-tooltip:before {
   content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #337fcc;
}


.kpiCardsContainer .col-md-4{
  padding: 0 !important;
}


/***********For Reports*********************/
#statisticsMenu{
  /*box-shadow: 0 8px 14px 0 rgba(0,0,0,0.08);*/
  border-bottom: 2px solid rgba(0,0,0,0.08);
  min-height: 72px;
  padding-top: 27px;
}

#statisticsMenu div{
  display: inline-block;
}

#statisticsMenu div a{
  color: #041B15;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* margin-right: 24px; */
  text-decoration: none;
  cursor: pointer;
}



.table-title{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #041B15;
}

#revenueTable{
  border-top: none !important;
}

#revenueTable thead tr th{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #9BA4A1;
  border-top: none;
  border-color: #041B15;
}

#revenueTable tbody tr td{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #041B15;
}

.table-per-column [class^='col-']{
  padding: 0;
}

.table-per-column ul{
  display: inline-block !important;
  list-style-type: none;
  padding: 0;
  margin:0;
}

.table-per-column ul li{
  border-bottom: 1px solid rgba(36,46,53,0.1);
  padding: .5rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.main-col{
  padding-right: 0;
}

.main-col ul{
  /*width: 120px !important;*/
  width: 100%;
}

.main-col ul li{
  position: relative;
  z-index: 1;
  min-width: 120px;
  padding: .5rem 0;
}

.main-col ul .mb-light-bg:first-child{
  color: #a1abb3;
}

.main-col ul .mb-light-bg:last-child{
  color: #4f565c;
}

.main-col ul .bg-white{
  color: #4f565c;
}

.child-col{
  /*padding-left: 30px !important;*/
  display: flex;
}

.child-col ul{
  flex: 1;
  background-color: #FFFFFF;
}

.child-col ul li{
  max-height: 35px;
}


.scrollable-container{
  white-space: nowrap;
}

.scrollable-container::-webkit-scrollbar{
  width: 0 !important;
}


.custom-report-table{
  display: table;

}

.custom-report-table td{
  padding: 0;
}

.custom-report-table th{
  padding: 0;
  min-width: 130px;
  position: absolute;
  *position: relative; /*ie7*/
  left: 0;
  width: 100px;
  -webkit-box-shadow: 5px 0px 35px -2px rgba(148,148,148,1);
  -moz-box-shadow: 5px 0px 35px -2px rgba(148,148,148,1);
  box-shadow: 5px 0px 35px -2px rgba(148,148,148,1);
}

.my-table {
  table-layout: fixed;
  width: 100%;
  *margin-left: -100px; /*ie7*/
}
.my-table td, .my-table th {
  vertical-align: top;
  border-top: #ccc 1px solid;
  padding: 10px;
  width: 100px;
}
.my-table th {
  position: absolute;
  *position: relative; /*ie7*/
  left: 0;
  width: 100px;
}
.outer-table {
  position: relative;
}
.inner-table {
  overflow-x: scroll;
  overflow-y: visible;
  width: 400px;
  margin-left: 100px;
}

/*.outer-table{
  position: relative;
}
.inner-table {
  overflow: auto;
  width: 100%;
  margin-left: 120px;
}

.inner-table::-webkit-scrollbar{
  width: 0 !important;
}*/

.custom-report-table td tr{

}

.custom-report-table ul{
  padding: 0;
  list-style-type: none;
}

.custom-report-table ul li{
  min-width: 100px;
  padding: .5rem 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.mb-tooltip-bg{
  background: #22aaa1 !important;
}


/****************************************
 *           No box shadow to btn       *
 ****************************************/

button:focus, .btn:focus{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}


@media print{
  .no-print, .no-print *{
    display: none;
  }
}


/*************************************************
 *Overflow in dashboard/statistics/reports       *
 *************************************************/

.event-feed-container{
  overflow-y: scroll;
}

@media only screen and (max-width: 1920px){
  .mb-container, .event-feed-container{
    height: 1080px;
  }
}

@media only screen and (max-width: 1366px){
  .mb-container, .event-feed-container{
    height: 870px;
  }
}

@media only screen and (max-width: 1280px){
  .mb-container, .event-feed-container{
    height: 1024px;
  }
}

@media only screen and (max-width: 1024px){
  .mb-container, .event-feed-container{
    height: 870px;
  }
}


/*************************************************
 *           Animation zoomIn on Div             *
 *************************************************/

.zoomIn-div::after{
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

.zoomIn-div:hover{
  -webkit-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
}

.zoomIn-div:hover::after{
  opacity: 1;
}



input:focus, button:focus, a.button:focus{
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
